<body  data-no-turbolinks='true' id="<%= controller.action_name %>" class="trendy <% if user_signed_in? %> signed-in<% else %> not-signed-in<% end %>  <%= if request.original_url.include?('?app=true') then 'app' end %>">
    <!--<img class="temp" src="http://i.imgur.com/aLaoys6.png" style="
    width: 65px;
    position: fixed;
    bottom: -5px;
    right: 10px;
">-->
    <div id="scroll-up-wrapper"><div id="scroll-up"></div></div>





    <% if user_signed_in? %>
        <i class="material-icons" id="show-feedback">feedback</i>
        <div id="feedback">
            <%= form_tag 'pages/feedback', remote: true, :method => 'get' do %>
                <label>Any feedback is appreciated</label>
                <%= hidden_field_tag :user, current_user, placeholder: "Tell us everything.." %>
                <%= text_area_tag :text %>
                <div id="thanks-feedback">Thank you!</div>
                <%= submit_tag "SEND", id: "submit-feedback"%>
                <input value="CANCEL" id="cancel-feedback">
            <% end %>
        </div>
    <% end %>

    <i class="material-icons" id="hide-remote-make">clear</i>
    <% if user_signed_in? && @pTotal < 100 %>
    <div id="progress-table">
        <p class="<%= if current_user.image.url(:medium) == 'missing.jpg' then '' else 'progress-done' end %>">Set your image</p>
        <p class="<%= if current_user.cover.url(:medium) == 'missing-2.jpg' then '' else 'progress-done' end %>">Set your blurred cover</p>
        <p class="<%= if current_user.bio.blank?  then '' else 'progress-done' end %>">Write your bio</p>
        <p class="<%= if current_user.posts.count == 0 then '' else 'progress-done' end %>">Upload your first post</p>
    </div>
    <div id="progress-number" class="hidden-imp" data-progress-number="<%= @pTotal %>"></div>
  <div class='progress'>
      <div class='hide'></div>
      <div class='active'></div>
      <div class='active2'></div>
    </div>
<% end %>
<div class="messages-container">
        <div class="notice-message"></div><span class="notice"><%= notice %></span>
        <span class="alert"><%= alert %></span>
    </div>
<%# User.find_by_id(3).votes.down.where(:vote_scope => 'report').for_type(Post).votables unless User.find_by_id(3).votes.down.where(:vote_scope => 'report').for_type(Post).votables.blank? %>
<%# current_user.votes.where(:vote_scope => 'favor').for_type(Post).votables %>
<% if !request.original_url.include?('?app=true') %>
        <%= render '/layouts/activities' %>
    <% end %>
<div id="overlay-under-notif"></div>
<div class="overlay-full"></div>
<div class="upper-black"></div>
    <% if @welcomeMessage == true %>
        <div id="main-message">
            Welcome to drolle! Enjoy your time. <img src="http://2.bp.blogspot.com/-4NwAstTunj0/UPiqueKINcI/AAAAAAAAAjE/jWzjl2Brquw/s1600/09.png">
            <footer>click to hide</footer>
        </div>
    <% end %>

    <div id="trends-page-wapper">
        <h2 class="explore-title"><i class="material-icons">whatshot</i>Trends<div id="search-trends"><i class="material-icons">search</i><textarea data-search placeholder="Search trends"></textarea></div></h2>
        <% if @trends.count > 0 %>

          <% @trends.each do |trend| %>

              <div data-filter-item data-filter-name="<%= trend.name %>" class="trend trend-parent <%= if user_signed_in? && !current_user.trends.nil? && current_user.trends.split(',').include?(trend.id.to_s) then 'followed' end %>">
                <% if user_signed_in? %>
                <%= form_for current_user, :html => { :multipart => true , :class => 'hidden-imp' },:url => url_for(:controller => 'trends', :action => 'follow', :user_id => current_user.id ), :method => "get" , remote: true  do |f| %>
                    <%= f.text_field :trendid, :value => trend.id, :id => 'e' %>
                    <%= f.submit "Save", class: 'follow-trend-submit'%>
                <% end %>
                <% end %>
                <!--<a href="trends/<%= trend.name %>"></a>-->
                  <p class="trend-name">/<%= trend.name %></p>
                <p class="trend-details first"><%= Post.where(trendid: trend.id).size %> Posts</p>
                <p class="trend-details second">.</p>
                <p class="trend-details"><%= trend.followers.to_i %> Followers</p>


                <div id="trend-scroll-wrapper">
                <div id="trend-scroll">
                  <% Post.where(trendid: trend.id).limit(4).each do |post| %>
                <% if !post.imageaddress.blank? %><img src="<%= post.image2.url(:medium) %>" class="post-trend-2" alt="<%= post.title %>"><% end %>
                <% if post.image.present? %><img src="<%= post.image.url(:medium) %>" class="post-trend-2" alt="<%= post.title %>"><% end %>
                <% if !post.giphyid.blank? %><img class="post-trend-2" src="https://media2.giphy.com/media/<%= post.giphyid %>/giphy.gif"><% end %>

              <% end %>
              <a href="trends/<%= trend.name %>" target="_blank" class="not-link">
              <i class="material-icons trend-arrow">navigate_next</i>
              </a>

              <div class="trend-overlay"></div>

              </div>
              </div>
              <span class="follow-trend">Follow</span><span class="followed-trend" >Followed</span>

              <a href="trends/<%= trend.name %>" target="_blank" class="not-link">
              <div class="new-tab-trend">
                <i class="material-icons">open_in_new</i>
                Open
              </div>

              </a>

              </div>
            <% end %>
        <% else %>
            <div class="trend"><a href="trends/"><p>/iLikeIcecream</p></a></div>
            <div class="trend"><a href="trends/"><p>/soYouWannaBeAGagsta</p></a></div>
            <div class="trend"><a href="trends/"><p>//drollestuff</p></a></div>
            <div class="trend"><a href="trends/"><p>/iLikeIcecream</p></a></div>
            <div class="trend"><a href="trends/"><p>/soYouWannaBeAGagsta</p></a></div>
            <div class="trend"><a href="trends/"><p>//drollestuff</p></a></div>
            <div class="trend"><a href="trends/"><p>/howAboutNow</p></a></div>
            <div class="trend"><a href="trends/"><p>/howAboutNow</p></a></div>
        <% end %>

    </div>


<% if !user_signed_in? %>
    <div id="remote-invite-wrapper">
        <i class="material-icons close-wrapper">close</i>

    <div id="invite-buttons-wrapper" class="second">
            <label id="invite-tab-1" class="invite-tab active-invite-tab">Log in</label>
            <label id="invite-tab-2"class="invite-tab">Sign up</label>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:id => "invite-2"} ) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <span id="att-before-username">@</span>
    <%= f.text_field :username, autofocus: true, id:"sign-up-username-field", placeholder: "Username" %>
    <i class="material-icons" id="username-check-icon">check_circle</i>
  </div>

  <div class="field">
    <%= f.email_field :email, autofocus: true, id: "email-field-settings", placeholder: "Email" %>
    <i class="material-icons" id="email-check-icon">check_circle</i>
  </div>

  <div class="field passwords">
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
    <%= f.password_field :password, autocomplete: "off", placeholder:"Password"  %>
  </div>

  <div class="field passwords">
    <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirm Password" %>
  </div>
  <%= f.check_box :pro, checked: false, class: "hidden" %>

  <div class="actions">
    <%= f.submit "Sign up", class: "hidden submit-invite", id: "sign-up-submit" %>
    <button type="button" id="sign-up-submit-before" class="invite-submit">Sign up</button>
  </div>
<% end %>



        <%= form_for(:user, :url => session_path(:user), :html => {:id => "invite-1"}) do |f| %>



          <div class="field">
            <%= f.email_field :email, placeholder: "Email" %>
          </div>

          <div class="field">
            <%= f.password_field :password, autocomplete: "off", placeholder: "Password" %>
          </div>

          <% if devise_mapping.rememberable? -%>
            <div class="field" id="remember-me-button">
              <%= f.check_box :remember_me, checked: "true"%>
              <%= f.label :remember_me %>
            </div>
          <% end -%>

          <div class="actions">
            <%= f.submit "Log in", class: "invite-submit" %>
          </div>
          <div id="other-log-in">
            <!--<%# render "devise/shared/links" %>
            <a href="#">Continue as guest</a>
            <a href="#" class="separator">-</a>
            -->
            <a href="/users/password/new">Forgot passowrd</a>
          </div>
        <% end %>
    </div>


<% end %>
<%= form_tag url_for(:controller => 'pages', :action => 'checkUsername'), :method => 'get', class: "hidden", remote: true do %>
      <%= text_field_tag 'name', '', id: "username-check-field"%>
      <%= submit_tag "Save", id: "username-check-submit" %>
    <% end %>
    <%= form_tag url_for(:controller => 'pages', :action => 'checkEmail'), :method => 'get', class: "hidden", remote: true do %>
      <%= text_field_tag 'email', '', id: "email-check-field"%>
      <%= submit_tag "Save", id: "email-check-submit" %>
    <% end %>

</body>