<% if user_signed_in?%>

    <body id="<%= controller.action_name %>" class="<% if user_signed_in? %> signed-in<% else %> not-signed-in<% end %>">
<div id="content-full2" class="full-wrapper new-content">
    <div id="main-page-type">
        <i class="material-icons" id="back-list">arrow_back</i>
        <span id="recent-type" class="active-type"><%= @post.count %> Hidden/Reported</span>
    </div>
    <div class="content-overlay"></div>
    <div class='wrapper'><%= User.count %> signups</div>
    <div class='wrapper'><%= Post.count %> posts</div>
    <div class='wrapper'><%= Post.where("created_at >= ?", Time.zone.now.beginning_of_day).count %> posts today</div>
    
    <%= will_paginate @post %>
    <% @post.each do |post| %>
        <div class="wrapper" data-post-id="<%= post.id %>">
            <div class="left-wrapper" id="left-wrapper-<%= post.id %>">
                <div class="left-wrapper-overlay"></div>
            <div class="post-image-wrapper <%= if post.long === true then 'long-wrapper' end %>">
                <% if post.long === true  %>
                    <i class="material-icons expand-post">expand_more</i>
                <% end %>
                <div id="loadPost" class="hidden">
                    <%= form_tag 'pages/loadPost', remote: true, :method => 'get' do %>
                        <%= text_field_tag :postid, post.id %>
                        <%= submit_tag "Save"%>
                    <% end %>
                </div>
                <%= link_to(post) do %>
                    <img src="<%= post.image.url(:medium) %>" class="post-image">
                    <img data-original="<%= post.image.url(:large) %>" class="post-image post-image-2">
                <% end %>
            </div>
                
                    <% if !post.title.blank? %><div class="post-title"><%= post.title %></div><% end %>
                    <div class="post-footer">
                <% if post.anonymous != true %>
                    <a href="/user/<%= post.user.username %>" class="user-link">
                        <% if post.user.image.url == "missing.jpg" %>
                                <div class="post-footer-user-image" style="background-image: url(/assets/<%= post.user.image.url(:thumb) %>)"></div>
                          <% else %>
                                <div class="post-footer-user-image" style="background-image: url(<%= post.user.image.url(:medium) %>)"></div>
                          <% end %>
                        <span class="post-footer-user-name"><%= post.user.username %></span>
                    </a>
                <% else %>

                            <% if !post.facenumber.nil? %><div class="post-footer-user-image" style="background-image: url(/assets/ragefaces/<%= post.facenumber %>face.png)"></div><% end %>
                                <span class="post-footer-user-name anonymous-name">Anonymous</span>
                            <% end %>
                            
                            <i class="material-icons post-options" tabindex="12">more_horiz</i>
                    
                        <i class="material-icons comment-button">chat_bubble</i>

                        <% if user_signed_in? %>
                            <span class="post-votes-word" data-points="<%= post.get_upvotes.size - post.get_downvotes.size - if current_user.voted_up_on? post then 1 elsif current_user.voted_down_on? post then -1 else 0 end %>" data-user-votes="<%= if current_user.voted_up_on? post then 1 elsif current_user.voted_down_on? post then -1 else 0 end %>"><%=  post.get_upvotes.size - post.get_downvotes.size %> points</span>
                        <% else %>
                            <span class="post-votes-word" data-points="<%= post.get_upvotes.size - post.get_downvotes.size %>" data-user-votes="0"><%=  post.get_upvotes.size - post.get_downvotes.size %> points</span>
                        <% end %>
                        
                </div>


                <div class="reported-container">
                    <%= form_for post, method: :delete, remote: true do |f| %>
                        <%= f.hidden_field :user_id, value: post.user.id %>
                        <%= f.submit 'delete post', class: "delete-post-submit" %>
                    <% end %>
                    
                    <%= form_for (post), :user_id => post.user_id, remote: true do |f| %>
                        <%= f.hidden_field :granted, value: true %>
                        <%= f.hidden_field :user_id, value: post.user.id %>
		 	            <%= f.submit 'Grant', class: "submit-edit submit-edit-2" %>
                    <% end %>
                </div>


                


                    </div>
                
            
            <div class="middle-wrapper">
                <div class="comments-wrapper" id="comments-wrapper-<%= post.id %>">
                <% if user_signed_in? %>
                    <%= form_for [post, post.comments.new], html: {multipart: true}, remote: true do |f| %>
                      <div class="form-group comment-form" id="form-<%= post.id %>">
                        <%= f.text_area :body, class: 'post-comment-body', "data-gramm_editor" => "false", placeholder: "Comment on this post..", id: "comment-textarea"%>
                        <input class="base64-make" type="hidden" value="" name="base64"/>
                        <img src="" class="base64-image">
                        <div class="comment-html post-comment-body-2 post-comment-body" data-gramm-editor="false" contentEditable="true"></div>
                        <div class="right-comment-wrapper">
                            <div class="cancel-meme hidden-imp">Cancel</div>
                            <%= f.submit 'post', class: 'post-comment', name: 'post' %>
                            <div class="memes-emojis"><span class="make-meme">meme</span></div>
                        </div>
                      </div>
                    <% end %>  


                <% else %>    
                    <p class="not-signed-in-comment">You need to be signed in to comment</p>
                <% end %>
                </div>
          
                </div>


                    <!--<p class="commentig-notice">You have to be signed in to comment</p>-->
                
            
                                    <div id="right-wrapper-<%= post.id %>" class="right-wrapper hidden">
                                        <br>
                                        <div class="loading-quarter-circle-4"></div>
                                        <div class="loading-quarter-circle-3"></div>
                                    </div>
            
        </div><!-- right-wrapper -->
        
    <% end %>
</div>

</div>

			
</body>

<% else %>
<script type="text/javascript">
    window.location.href="/recent"  // put your correct path in a string here
  </script>
<% end %>