<% if user_signed_in? %>

<body  data-no-turbolinks='true' id="<%= controller.action_name %>" class="<%= if user_signed_in? && current_user.passed.nil? then "not-passed" end  %> <% if user_signed_in? %> signed-in<% else %> not-signed-in<% end %>  <%= if request.original_url.include?('?app=true') then 'app' end %>">oll-up-wrapper"><div id="scroll-up"></div></div>


    <% if user_signed_in? %>
        <i class="material-icons" id="show-feedback">feedback</i>
        <div id="feedback">
            <%= form_tag 'pages/feedback', remote: true, :method => 'get' do %>
                <label>Any feedback is appreciated</label>
                <%= hidden_field_tag :user, current_user, placeholder: "Tell us everything.." %>
                <%= text_area_tag :text %>
                <div id="thanks-feedback">Thank you!</div>
                <%= submit_tag "SEND", id: "submit-feedback"%>
                <input value="CANCEL" id="cancel-feedback">
            <% end %>
        </div>
    <% end %>

    <i class="material-icons" id="hide-remote-make">clear</i>


    <!--
    <%# if user_signed_in? && @pTotal < 100 %>
    <div id="progress-table">
        <p class="<%# if current_user.image.url(:medium) == 'missing.jpg' then '' else 'progress-done' end %>">Set your image</p>
        <p class="<%# if current_user.cover.url(:medium) == 'missing-2.jpg' then '' else 'progress-done' end %>">Set your blurred cover</p>
        <p class="<%# if current_user.bio.blank?  then '' else 'progress-done' end %>">Write your bio</p>
        <p class="<%# if current_user.posts.count == 0 then '' else 'progress-done' end %>">Upload your first post</p>
    </div>
    <div id="progress-number" class="hidden-imp" data-progress-number="<%= @pTotal %>"></div>
  <div class='progress'>
      <div class='hide'></div>
      <div class='active'></div>
      <div class='active2'></div>
    </div>
<%# end %>
-->
<div class="messages-container">
        <div class="notice-message"></div><span class="notice"><%= notice %></span>
        <span class="alert"><%= alert %></span>
    </div>
<%# User.find_by_id(3).votes.down.where(:vote_scope => 'report').for_type(Post).votables unless User.find_by_id(3).votes.down.where(:vote_scope => 'report').for_type(Post).votables.blank? %>
<%# current_user.votes.where(:vote_scope => 'favor').for_type(Post).votables %>
<% if !request.original_url.include?('?app=true') && !@activities.nil?  %>
        <%= render '/layouts/activities' %>
    <% end %>
<div id="overlay-under-notif"></div>
<div class="overlay-full"></div>
<div class="upper-black"></div>
    <%= render '/layouts/trends_tags' %>

<div id="content-full2" class="full-wrapper new-content">
    <%= render '/layouts/who_to_follow' %>


    <% if @welcomeMessage == true %>
        <div id="main-message">
            Welcome to drolle! Enjoy your time. <img src="http://2.bp.blogspot.com/-4NwAstTunj0/UPiqueKINcI/AAAAAAAAAjE/jWzjl2Brquw/s1600/09.png">
            <footer>click to hide</footer>
        </div>
    <% end %>


<% if !user_signed_in? %>
    <div class="memeb-wrapper first">
        <p class="memeb-title">Can you pass the meme challenge?</p>
        <p class="memeb-detail">Make a meme and if you were accepted, you're in!</p>
        <button class="memeb-button first">Continue</button>
    </div>

    <div class="memeb-wrapper second">
        <!--<p class="memeb-title">What is happening?</p>-->
        <p class="memeb-detail">After you post your meme, current users will choose to let you in or keep you out.</p>
        <button class="memeb-button second">Continue</button>
    </div>

    <div class="memeb-wrapper third">
        <p class="memeb-title">Setting up your profile</p>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:id => "i"} ) do |f| %>
        <%= f.email_field :email, autofocus: true, class: "memeb-field f", placeholder: "Email" %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
        <%= f.password_field :password, autocomplete: "off", placeholder:"Password" , class: "memeb-field s" %>
        <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirm Password", class: "memeb-field t" %>
        <p class="memeb-notice">You will be able to set up your profile when if you get accepted.</p>
        <button class="memeb-submit" type="button">Start</button>
        <%= f.submit "Sign up", id: "memeb-sign-up-submit" %>
        <% end %>


    </div>



<% elsif user_signed_in? &&  !current_user.passed.nil? && current_user.username.nil? %>
<br>
<div class="memeb-wrapper waiting">
<p class="memeb-title">Congratulations, welcome aboard!</p>
<p class="memeb-detail-2">Choose your username</p>
<%= form_tag url_for(:controller => 'pages', :action => 'acceptUser'), :method => 'get', class: "i", remote: true do %>
                  <%= text_field_tag 'username1', '', class: "memeb-field-2",placeholder: 'eg. bananapeeler', id: "memeb-username-field" %>
                  <%= submit_tag "Save", class: "hidden", id:"memeb-username-submit"%>
                  <button type="button" id="memeb-username-submit-before" class="memeb-button-2">Save</button>
                <% end %>
</div>
<% elsif user_signed_in? &&  current_user.passed.nil? && current_user.posts.count == 1 %>
<div class="memeb-wrapper waiting">
    Waiting for someone to let you in..
  <% if current_user.username.nil? %>
    <p class="memeb-detail-2">meanwhile, choose your username</p>
<%= form_tag url_for(:controller => 'pages', :action => 'acceptUser'), :method => 'get', class: "i", remote: true do %>
                  <%= text_field_tag 'username1', '', class: "memeb-field-2",placeholder: 'eg. bananapeeler', id: "memeb-username-field" %>
                  <%= submit_tag "Save", class: "hidden", id:"memeb-username-submit"%>
                  <button type="button" id="memeb-username-submit-before" class="memeb-button-2">Continue</button>
                <% end %>
                <% end %>

</div>
<% elsif user_signed_in? &&  current_user.passed.nil? && current_user.posts.count == 0 %>
<div class="memeb-wrapper waiting">
    Complete the meme challenge
    <% if current_user.username.nil? %>
    <p class="memeb-detail-2">first, choose your username</p>
<%= form_tag url_for(:controller => 'pages', :action => 'acceptUser'), :method => 'get', class: "i", remote: true do %>
                  <%= text_field_tag 'username1', '', class: "memeb-field-2",placeholder: 'eg. bananapeeler', id: "memeb-username-field" %>
                  <%= submit_tag "Save", class: "hidden", id:"memeb-username-submit"%>
                  <button type="button" id="memeb-username-submit-before" class="memeb-button-2">Continue</button>
                <% end %>
                <% else %>
                <a href="/make"><button class="memeb-button-2">Continue</button></a>
                <% end %>
</div>
<% end %>

    <div class="content-overlay"></div>
    <p class="pure-message hidden">Hi, thank you for giving this website a try. We are working hard on making this community everyone's. Help us grow by sharing this website with your friends and feel free to post the memes you like. Drolle team. This message will self destruct in 30 sec.</p>
    <%= will_paginate @post %>
<% if user_signed_in? && current_user.trends.nil? && !current_user.posts.count == 0 %>
    <p class="normal-message"><img src="https://media.giphy.com/media/jWexOOlYe241y/giphy.gif" class="gif-message">Posts of the trends and users you follow will appear here. Go ahead. Explore and follow what you like! <a href="/trends">click to see trends</a></p>
    <% end %>
    <% @post.each do |post| %>

        <div class="wrapper" data-post-id="<%= post.id %>" id="wrapper-<%= post.id %>">
            <span class="click-mini">click on post to minimize</span>
            <i class="material-icons" id="prev-post-icon">navigate_before</i>
            <i class="material-icons" id="next-post-icon">navigate_next</i>
            <div id="loadPost" class="loadPost hidden">
                    <%= form_tag '/pages/loadPost', remote: true, :method => 'get' do %>
                        <%= text_field_tag :postid, post.id %>
                        <%= submit_tag "Save", class: 'submit-loadpost'%>
                    <% end %>
                </div>
            <div class="left-wrapper" id="left-wrapper-<%= post.id %>">
                <div class="left-wrapper-overlay"></div>

            <%# form_for (post), remote: true do |f| %>

			 	<%# f.text_field :trendname  %>

 	            <%# f.submit 'Save' %>
            <%# end %>
            <div class="post-image-wrapper <%= if post.long === true then 'long-wrapper' end %>">


                <div class="post-tags-wrapper">
                    <!--
                        <% post.tags.any? %>
                          <% post.tags.each do |tag| %>
                          <a href="/tags/<%= tag.name %>"><%= tag.name %></a>
                        <% end %>
                    -->
                        <% if post.trendid.present? %>
                          <a class="post-trend" href="/trends/<%= Trend.find_by_id(post.trendid).name %>">/<%= Trend.find_by_id(post.trendid).name %></a>
                        <% end %>

                    </div>

                <% if post.long === true  %>
                    <i class="material-icons expand-post">expand_more</i>
                <% end %>
                <%# if user_signed_in? && current_user != post.user %>
                <!--
                <div class="post-more-button <%= if current_user.voted_on? post, vote_scope: 'report' then 'reported' elsif current_user.voted_on? post, vote_scope: 'favor' then 'favorited' end %>">
                            <%# link_to report_post_path(post), method: :put, class: 'report-post', title: 'Report this post', :"data-post-id" => post.id, remote: true  do %><i class="reported-post material-icons">report</i><%# end %>
                            <%# link_to like_post_path(post, :favor => true), method: :put, class: 'favor-post', title: 'Add to favorites', :"data-post-id" => post.id, remote: true  do %><i class="material-icons favorite-post">favorite</i><%# end %>
                            <div class="report-words">reported</div>
                            <div class="favor-words">favored</div>
                </div>
                -->
                <%# end %>

                <%# link_to(post) do %>

                    <% if !post.video64.blank? %>
                        <div class="black-under-video"></div>
                        <i class="material-icons video-volume hidden-imp">volume_up</i>
                        <i class="material-icons play-video">play_arrow</i>
                        <i class="material-icons pause-video">pause</i>
                        <video id="post-video-<%= post.id %>" muted class="blurred-video post-image post-video" data-post-id="<%= post.id %>" autoplay loop src="<%= post.video64 %>" type="video/mp4" preload="auto">
            				You are using an old browser pal.
            			</video>
                    <% end %>

                    <% if !post.imageaddress.blank? %><img src="<%= post.image2.url(:medium) %>" class="post-image" alt="<%= post.title %>"><% end %>
                    <% if !post.imageaddress.blank? %><img data-original="<%= post.image.url(:large) %>" class="post-image post-image-2" alt="<%= post.title %>"><% end %>
                    <% if post.image.present? %><img src="<%= post.image.url(:medium) %>" class="post-image" alt="<%= post.title %>"><% end %>
                    <% if post.image.present? %><img data-original="<%= post.image.url(:large) %>" class="post-image post-image-2"><% end %>
                    <% if !post.giphyid.blank? %><img class="post-image" src="https://media2.giphy.com/media/<%= post.giphyid %>/giphy.gif"><% end %>

                <%# end %>
            </div>

                    <% if !post.title.blank? %><div class="post-title"><%= post.title %></div><% end %>
                    <div class="post-footer new <%= if post.user.passed != true then "not-passed" end %>">
                <% if post.anonymous != true %>
                    <a href="/user/<%= post.user.username %>" class="user-link">





                        <% if !post.user.pic.nil? && post.user.image.url == 'missing.jpg' %>
                        <div class="post-footer-user-image" style="background-image: url(http://drolle.net/profilepics/pic<%= post.user.pic %>.jpg)"></div>
                        <% else %>
                        <div class="post-footer-user-image" style="background-image: url('<%= if post.user.image.url == 'missing.jpg' then 'assets/' end %><%= post.user.image.url(:thumb) %>)"></div>
                        <%end%>


                          <div class="footer-left">
                            <% if post.user.username.nil? %>
                                    <span class="post-footer-user-name second">NEW USER</span>
                              <% else %>
                                  <span class="post-footer-user-name">@<%= post.user.username %>
                                  </span>
                              <% end %>
                            <span class="post-footer-time"><%= time_ago_in_words(post.created_at) %> ago</span>
                          </div>

                    </a>
                    <div class="post-user-follow-wrapper">
                            <% if user_signed_in? && current_user.id != post.user.id %>
                                        <%= form_for(current_user.active_relationships.build, remote: true) do |f| %>
                                            <div><%= hidden_field_tag :followed_id, post.user.id %></div>
                                            <% if current_user.following?(post.user) %>
                                                <%= f.submit "following", class: "post-user-unfollow" %>
                                            <% else %>
                                                <%= f.submit "follow", class: "post-user-follow" %>
                                            <% end %>

                                        <% end %>
                            <% end %>
                        </div>
                <% else %>

                            <% if !post.facenumber.nil? %><div class="post-footer-user-image" style="background-image: url(http://www.nightmug.com/drolle/ragefaces/<%= post.facenumber %>face.png)"></div><% end %>
                                <span class="post-footer-user-name anonymous-name">Anonymous</span>
                                <span class="post-footer-time"><%= time_ago_in_words(post.created_at) %> ago</span>
                            <% end %>

                            <i class="material-icons post-options" tabindex="12">more_horiz</i>




                    <span class="post-votes-word comment-number"><%= post.comments.count %></span>
                    <i class="material-icons comment-button">chat_bubble</i>
                    <span class="footer-interseter post-votes-word">.</span>

                    <% if user_signed_in? %>
                            <span class="post-votes-word real" data-points="<%= post.get_upvotes.size - post.get_downvotes.size - if current_user.voted_up_on? post then 1 elsif current_user.voted_down_on? post then -1 else 0 end %>" data-user-votes="<%= if current_user.voted_up_on? post then 1 elsif current_user.voted_down_on? post then -1 else 0 end %>"><%=  post.get_upvotes.size - post.get_downvotes.size %></span>
                        <% else %>
                            <span class="post-votes-word real" data-points="<%= post.get_upvotes.size - post.get_downvotes.size %>" data-user-votes="0"><%=  post.get_upvotes.size - post.get_downvotes.size %></span>
                        <% end %>


                    <% if current_user != post.user %>
                        <div id="main-share-button">
                            <% if user_signed_in? %>
                                <% if current_user.share == '1' %>
                                    <a  href="http://www.facebook.com/sharer.php?u=http://www.drolle.co<%= url_for(post) %>" title="Share to Facebook" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <% elsif current_user.share == '2' %>
                                    <a href="http://twitter.com/share?url=http://www.drolle.co<%= url_for(post) %>&amp;<%= post.title %> &amp;hashtags=drolle" title="Tweet this post" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                <% elsif current_user.share == '3' %>
                                    <a href="https://plus.google.com/share?url=http://www.drolle.co<%= url_for(post) %>" title="Share to Google+" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                                <% elsif current_user.share == '4' %>
                                    <a href="http://www.reddit.com/submit?url=http://www.drolle.co<%= url_for(post) %>&title=<%= post.title %>" target="_blank" title="Share to Reddit"><img class="share-main" src="http://i.imgur.com/0mHlxNx.png"></a>
                                <% elsif current_user.share == nil || current_user.share == '0' %>
                                    <i title="Share this post" class="material-icons more-post-options share-button">share</i>

                                <% end %>
                            <% elsif !user_signed_in? %>
                                <i class="material-icons more-post-options share-button">share</i>
                            <% end %>
                        </div>

                        <% if (user_signed_in?) && (current_user.voted_down_on? post) %>
                            <%= link_to dislike_post_path(post), method: :put, class: 'down downvote vote downvoted voted', :"data-post-id" => post.id, remote: true  do %><i class="material-icons">arrow_drop_up</i><% end %>
                        <% elsif (user_signed_in?) && !(current_user.voted_down_on? post) && !(current_user.voted_up_on? post)  %>
                            <%= link_to dislike_post_path(post), method: :put, class: 'down downvote downvote vote', :"data-post-id" => post.id, remote: true  do %><i class="material-icons">arrow_drop_up</i><% end %>
                            <!--<i class="material-icons downvote new">keyboard_arrow_up</i>-->
                        <% elsif (user_signed_in?) && !(current_user.voted_down_on? post) && (current_user.voted_up_on? post) %>
                            <%= link_to dislike_post_path(post), method: :put, class: 'down downvote downvote vote not-voted', :"data-post-id" => post.id, remote: true  do %><i class="material-icons">arrow_drop_up</i><% end %>
                        <% else %>
                            <span class="down downvote vote"><i class="material-icons">arrow_drop_up</i></span>
                        <% end %>

                        <% if (user_signed_in?) && (current_user.voted_up_on? post) %>
                            <%= link_to like_post_path(post), method: :put, class: 'up upvote vote voted', :"data-post-id" => post.id, remote: true  do %><i class="material-icons">arrow_drop_up</i><% end %>
                        <% elsif (user_signed_in?) && !(current_user.voted_up_on? post) && !(current_user.voted_down_on? post)  %>
                        <!--<i class="material-icons new upvote">keyboard_arrow_up</i>-->
                            <%= link_to like_post_path(post), method: :put, class: 'up upvote vote upvote', :"data-post-id" => post.id, remote: true  do %><i class="material-icons">arrow_drop_up</i><% end %>
                        <% elsif (user_signed_in?) && !(current_user.voted_up_on? post) && (current_user.voted_down_on? post) %>
                            <%= link_to like_post_path(post), method: :put, class: 'up upvote vote upvote not-voted', :"data-post-id" => post.id, remote: true  do %><i class="material-icons">arrow_drop_up</i><% end %>
                        <% else %>
                            <span class="up upvote vote"><i class="material-icons">arrow_drop_up</i></span>
                        <% end %>



                    <% else %>



                        <i class="material-icons more-post-options">more_horiz</i>
                    <% end %>




                        <% if post.user.passed.nil? %>
                        <i class="material-icons footer-interseter add-user post-votes-word" title="Accept user">person_outline</i>
                        <% end %>
                        <% if !post.user.passed.nil? && user_signed_in? %>
                            <i class="material-icons footer-interseter follow-user post-votes-word <%= if current_user.following?(post.user) then " followed " end %>" title="Follow user">
                                <%= if current_user.following?(post.user) then "person".html_safe else "person_add".html_safe end %></i>
                            <% if user_signed_in? && current_user.id != post.user.id %>
                                        <%= form_for(current_user.active_relationships.build, remote: true, class: "hidden-imp") do |f| %>
                                            <div><%= hidden_field_tag :followed_id, post.user.id %></div>
                                                <%= f.submit "following", class: "submit post-user-unfollow" %>


                                        <% end %>
                            <% end %>
                        <% end %>
                        <%= link_to report_post_path(post), method: :put, class: 'report-post', title: 'Report this post', :"data-post-id" => post.id, remote: true  do %><i class="flag-post material-icons">flag</i><% end %>



                </div>






                    <div class="more-post-options-container <%= if post.anonymous != true && user_signed_in? && current_user == post.user then 'tall' end %> ">
                        <% if user_signed_in? && current_user == post.user %>
                            <% if post.anonymous != true %>
                                <span class="anonymous-checkbox" class="inline-block-imp">
                                    <%= form_for (post), remote: true do |f| %>
                                        <%= f.check_box :anonymous %>
                                        <%= f.text_field :user_id, value: post.user.username, class: "hidden-imp" %>
                                        <i class="material-icons anonymous-checked"></i>
                                        <div id="anonymous-image" class="anonymous-image">
                        			 		<i class="material-icons">add</i>
                        			 	</div>
                        			 	<%= f.text_field :facenumber, class: "hidden anonymous-image-field" %>
            			 	            <span>Anonymous</span>
            			 	            <input type="button" class="before-submit-edit" value="Save">
            			 	            <%= f.submit 'Save', class: "submit-edit hidden" %>
                                    <% end %>
                                </span>
                                <span class="dott">.</span>
                            <% end %>

                            <%= form_for post, method: :delete, remote: true do |f| %><% f.submit 'Delete', class: "delete-post-submit hidden-imp" %><% end %>
                            <i class="material-icons delete-post-before">delete</i>

                        <% end %>

                        <div class="share-buttons">
                            <span class="share-word">Share</span>
                            <!--
                            <a class="facebook customer share" href="http://www.facebook.com/sharer.php?u=http://www.drolle.co<%= url_for(post) %>" title="Facebook" target="_blank"><img src="http://i.imgur.com/D87RBjw.png"></a>
                            <a class="twitter customer share" href="http://twitter.com/share?url=http://www.drolle.co<%= url_for(post) %>&amp;<%= post.title %> &amp;hashtags=drolle" title="Twitter" target="_blank"><img src="http://i.imgur.com/d7WTVVP.png"></a>
                            <a class="google_plus customer share" href="https://plus.google.com/share?url=http://www.drolle.co<%= url_for(post) %>" title="Google Plus" target="_blank"><img src="http://i.imgur.com/NGKECtL.png"></a>
                            <a class="customer share" href="http://www.reddit.com/submit?url=http://www.drolle.co<%= url_for(post) %>&title=<%= post.title %>" target="_blank"><img src="http://i.imgur.com/wS2UoLP.png"></a>
                            -->
                            <a  href="http://www.facebook.com/sharer.php?u=http://www.drolle.co<%= url_for(post) %>" title="Share to Facebook" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="http://twitter.com/share?url=http://www.drolle.co<%= url_for(post) %>&amp;<%= post.title %> &amp;hashtags=drolle" title="Tweet this post" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="https://plus.google.com/share?url=http://www.drolle.co<%= url_for(post) %>" title="Share to Google+" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                            <a href="http://www.reddit.com/submit?url=http://www.drolle.co<%= url_for(post) %>&title=<%= post.title %>" target="_blank" title="Share to Reddit"><i class="fa fa-reddit-alien" aria-hidden="true"></i></a>
                        </div>
                    </div>


                    </div>

            <% if post.user.passed != true %>
            <div class="accept-user">
                <p>This post is by a new user, do you wish to accept him to Drolle? </p>
                <%= form_tag url_for(:controller => 'pages', :action => 'acceptUser'), :method => 'get', class: "i", remote: true do %>
                  <%= text_field_tag 'userid', post.user.id, class: "hidden-imp" %>
                  <%= submit_tag "ACCEPT", class: "accept-user-button"%>
                <% end %>
            </div>
            <% end %>


            <div class="middle-wrapper">
                <div class="comments-wrapper" id="comments-wrapper-<%= post.id %>">
                <% if user_signed_in? %>
                    <%= form_for [post, post.comments.new], html: {multipart: true}, remote: true do |f| %>
                      <div class="form-group comment-form" id="form-<%= post.id %>">
                        <%= f.text_area :body, class: 'post-comment-body', "data-gramm_editor" => "false", placeholder: "Comment on this post..", id: "comment-textarea"%>
                        <input class="base64-make" type="hidden" value="" name="base64"/>
                        <input class="giphy-id-make" type="hidden" value="" name="giphyid"/>
                        <img src="" class="base64-image">
                        <img src="" class="make-giphy-image">
                        <div class="comment-html post-comment-body-2 post-comment-body" data-gramm-editor="false" contentEditable="true"></div>
                        <div class="right-comment-wrapper">
                            <div class="cancel-meme hidden-imp">Cancel</div>
                            <input class="post-comment" value="post" readonly>
                            <%= f.submit 'post', class: 'post-comment-after hidden', name: 'post' %>
                            <div class="memes-emojis"><span class="make-meme">meme</span></div>
                        </div>
                      </div>
                    <% end %>


                <% else %>
                    <p class="not-signed-in-comment">You need to be signed in to comment</p>
                <% end %>
                </div>

                </div>


                    <!--<p class="commentig-notice">You have to be signed in to comment</p>-->


                                    <div id="right-wrapper-<%= post.id %>" class="right-wrapper hidden">
                                        <br>
                                        <div class="loading-quarter-circle-4"></div>
                                        <div class="loading-quarter-circle-3"></div>
                                    </div>

        </div>
    <% end %>
</div>

<div id="anonymous-faces">
				<h3>Choose your anonymous user image <i class="material-icons" id="close-anonymous-faces">clear</i></h3>

			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/1face.png" data-facenumber="1">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/2face.png" data-facenumber="2">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/3face.png" data-facenumber="3">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/4face.png" data-facenumber="4">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/5face.png" data-facenumber="5">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/6face.png" data-facenumber="6">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/7face.png" data-facenumber="7">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/8face.png" data-facenumber="8">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/9face.png" data-facenumber="9">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/11face.png" data-facenumber="11">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/12face.png" data-facenumber="12">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/13face.png" data-facenumber="13">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/14face.png" data-facenumber="14">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/15face.png" data-facenumber="15">

			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/18face.png" data-facenumber="18">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/19face.png" data-facenumber="19">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/20face.png" data-facenumber="20">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/21face.png" data-facenumber="21">
			<img class="rageface rageface-normal sad" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/22face.png" data-facenumber="22">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/23face.png" data-facenumber="23">
			<img class="rageface rageface-normal sad" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/24face.png" data-facenumber="24">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/25face.png" data-facenumber="25">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/26face.png" data-facenumber="26">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/27face.png" data-facenumber="27">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/28face.png" data-facenumber="28">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/29face.png" data-facenumber="29">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/30face.png" data-facenumber="30">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/31face.png" data-facenumber="31">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/32face.png" data-facenumber="32">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/33face.png" data-facenumber="33">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/34face.png" data-facenumber="34">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/35face.png" data-facenumber="35">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/36face.png" data-facenumber="36">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/37face.png" data-facenumber="37">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/38face.png" data-facenumber="38">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/39face.png" data-facenumber="39">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/40face.png" data-facenumber="40">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/41face.png" data-facenumber="41">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/42face.png" data-facenumber="42">
			<img class="rageface rageface-normal sad" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/46face.png" data-facenumber="46">
			<img class="rageface rageface-normal sad" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/47face.png" data-facenumber="47">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/48face.png" data-facenumber="48">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/49face.png" data-facenumber="49">

			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/51face.png" data-facenumber="51">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/52face.png" data-facenumber="52">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/53face.png" data-facenumber="53">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/54face.png" data-facenumber="54">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/55face.png" data-facenumber="55">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/56face.png" data-facenumber="56">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/57face.png" data-facenumber="57">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/58face.png" data-facenumber="58">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/59face.png" data-facenumber="59">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/60face.png" data-facenumber="60">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/61face.png" data-facenumber="61">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/62face.png" data-facenumber="62">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/63face.png" data-facenumber="63">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/64face.png" data-facenumber="64">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/65face.png" data-facenumber="65">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/66face.png" data-facenumber="66">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/67face.png" data-facenumber="67">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/68face.png" data-facenumber="68">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/69face.png" data-facenumber="69">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/70face.png" data-facenumber="70">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/71face.png" data-facenumber="71">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/72face.png" data-facenumber="72">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/73face.png" data-facenumber="73">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/74face.png" data-facenumber="74">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/75face.png" data-facenumber="75">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/76face.png" data-facenumber="76">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/77face.png" data-facenumber="77">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/78face.png" data-facenumber="78">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/79face.png" data-facenumber="79">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/80face.png" data-facenumber="80">
			<img class="rageface rageface-normal sad" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/81face.png" data-facenumber="81">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/82face.png" data-facenumber="82">
			<img class="rageface rageface-normal sad" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/83face.png" data-facenumber="83">
			<img class="rageface rageface-normal sad" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/84face.png" data-facenumber="84">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/85face.png" data-facenumber="85">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/86face.png" data-facenumber="86">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/87face.png" data-facenumber="87">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/88face.png" data-facenumber="88">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/89face.png" data-facenumber="89">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/90face.png" data-facenumber="90">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/91face.png" data-facenumber="91">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/92face.png" data-facenumber="92">

			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/94face.png" data-facenumber="94">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/95face.png" data-facenumber="95">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/96face.png" data-facenumber="96">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/97face.png" data-facenumber="97">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/98face.png" data-facenumber="98">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/99face.png" data-facenumber="99">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/100face.png" data-facenumber="100">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/101face.png" data-facenumber="101">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/102face.png" data-facenumber="102">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/103face.png" data-facenumber="103">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/104face.png" data-facenumber="104">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/105face.png" data-facenumber="105">

			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/108face.png" data-facenumber="108">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/109face.png" data-facenumber="109">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/110face.png" data-facenumber="110">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/111face.png" data-facenumber="111">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/112face.png" data-facenumber="112">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/113face.png" data-facenumber="113">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/114face.png" data-facenumber="114">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/115face.png" data-facenumber="115">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/116face.png" data-facenumber="116">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/117face.png" data-facenumber="117">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/118face.png" data-facenumber="118">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/119face.png" data-facenumber="119">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/120face.png" data-facenumber="120">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/121face.png" data-facenumber="121">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/122face.png" data-facenumber="122">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/123face.png" data-facenumber="123">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/124face.png" data-facenumber="124">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/125face.png" data-facenumber="125">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/126face.png" data-facenumber="126">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/127face.png" data-facenumber="127">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/128face.png" data-facenumber="128">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/129face.png" data-facenumber="129">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/130face.png" data-facenumber="130">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/131face.png" data-facenumber="131">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/132face.png" data-facenumber="132">
			<img class="rageface rageface-normal sad" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/133face.png" data-facenumber="133">
			<img class="rageface rageface-normal sad" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/134face.png" data-facenumber="134">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/135face.png" data-facenumber="135">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/136face.png" data-facenumber="136">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/137face.png" data-facenumber="137">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/138face.png" data-facenumber="138">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/139face.png" data-facenumber="139">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/140face.png" data-facenumber="140">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/141face.png" data-facenumber="141">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/143face.png" data-facenumber="143">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/144face.png" data-facenumber="144">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/145face.png" data-facenumber="145">
			<img class="rageface rageface-normal sad" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/146face.png" data-facenumber="146">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/147face.png" data-facenumber="147">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/148face.png" data-facenumber="148">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/149face.png" data-facenumber="149">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/150face.png" data-facenumber="150">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/151face.png" data-facenumber="151">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/152face.png" data-facenumber="152">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/153face.png" data-facenumber="153">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/154face.png" data-facenumber="154">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/155face.png" data-facenumber="155">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/156face.png" data-facenumber="156">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/157face.png" data-facenumber="157">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/158face.png" data-facenumber="158">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/159face.png" data-facenumber="159">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/160face.png" data-facenumber="160">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/161face.png" data-facenumber="161">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/162face.png" data-facenumber="162">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/163face.png" data-facenumber="163">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/164face.png" data-facenumber="164">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/165face.png" data-facenumber="165">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/173face.png" data-facenumber="173">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/166face.png" data-facenumber="166">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/167face.png" data-facenumber="167">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/168face.png" data-facenumber="168">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/170face.png" data-facenumber="170">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/171face.png" data-facenumber="171">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/172face.png" data-facenumber="172">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/175face.png" data-facenumber="175">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/176face.png" data-facenumber="176">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/177face.png" data-facenumber="177">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/178face.png" data-facenumber="178">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/174face.png" data-facenumber="174">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/179face.png" data-facenumber="179">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/180face.png" data-facenumber="180">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/181face.png" data-facenumber="181">
			<img class="rageface rageface-normal" crossorigin="" data-original="http://www.nightmug.com/drolle/ragefaces/182face.png" data-facenumber="182">
			</div>

<% if !user_signed_in? %>
    <div id="remote-invite-wrapper">
        <i class="material-icons close-wrapper">close</i>

    <div id="invite-buttons-wrapper" class="second">
            <label id="invite-tab-1" class="invite-tab active-invite-tab">Log in</label>
            <label id="invite-tab-2"class="invite-tab">Sign up</label>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:id => "invite-2"} ) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <span id="att-before-username">@</span>
    <%= f.text_field :username, autofocus: true, id:"sign-up-username-field", placeholder: "Username" %>
    <i class="material-icons" id="username-check-icon">check_circle</i>
  </div>

  <div class="field">
    <%= f.email_field :email, autofocus: true, id: "email-field-settings", placeholder: "Email" %>
    <i class="material-icons" id="email-check-icon">check_circle</i>
  </div>

  <div class="field passwords">
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
    <%= f.password_field :password, autocomplete: "off", placeholder:"Password"  %>
  </div>

  <div class="field passwords">
    <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirm Password" %>
  </div>
  <%= f.check_box :pro, checked: false, class: "hidden" %>

  <div class="actions">
    <%= f.submit "Sign up", class: "hidden submit-invite", id: "sign-up-submit" %>
    <button type="button" id="sign-up-submit-before" class="invite-submit">Sign up</button>
  </div>
<% end %>



        <%= form_for(:user, :url => session_path(:user), :html => {:id => "invite-1"}) do |f| %>



          <div class="field">
            <%= f.email_field :email, placeholder: "Email" %>
          </div>

          <div class="field">
            <%= f.password_field :password, autocomplete: "off", placeholder: "Password" %>
          </div>

          <% if devise_mapping.rememberable? -%>
            <div class="field" id="remember-me-button">
              <%= f.check_box :remember_me, checked: "true"%>
              <%= f.label :remember_me %>
              <a class="forgot-password-new" href="/users/password/new">Forgot passowrd</a>
            </div>
          <% end -%>

          <div class="actions">
            <%= f.submit "Log in", class: "invite-submit" %>
          </div>

        <% end %>
    </div>


<% end %>
</div>
<%= form_tag url_for(:controller => 'pages', :action => 'checkUsername'), :method => 'get', class: "hidden", remote: true do %>
      <%= text_field_tag 'name', '', id: "username-check-field"%>
      <%= submit_tag "Save", id: "username-check-submit" %>
    <% end %>
    <%= form_tag url_for(:controller => 'pages', :action => 'checkEmail'), :method => 'get', class: "hidden", remote: true do %>
      <%= text_field_tag 'email', '', id: "email-check-field"%>
      <%= submit_tag "Save", id: "email-check-submit" %>
    <% end %>

</body>
<% else %>
<body  data-no-turbolinks='true' id="invite-page<%# controller.action_name %>" data-original="https://img.memesuper.com/41133be7d2bda27e380d0a32d715100b_hd-meme-wallpapers-and-all-memes-wallpaper_1548-1094.jpeg" class="<%= if user_signed_in? && current_user.passed.nil? then "not-passed" end  %> <% if user_signed_in? %> signed-in<% else %> not-signed-in<% end %>  <%= if request.original_url.include?('?app=true') then 'app' end %>">
    <style>
        input:-moz-placeholder {
	color: #ffffff;
}input::-webkit-input-placeholder {
	color: #ffffff;
}
    </style>
<div class="invite-underlay"></div>
<div id="invite-logo-wrapper-2">
    <div id="logo-wrapper"><svg id="logo" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 45.4 45.7" style="enable-background:new 0 0 45.4 45.7;" xml:space="preserve">
<style type="text/css">
	.st0{display:none;}
	.st1{display:inline;}
	.st2{fill:#ffffff;}
	.st3{fill:#ffffff;}
</style>
<g id="XMLID_97_" class="st0">

		<image style="display:inline;overflow:visible;opacity:0.45;" width="340" height="339" id="XMLID_4_" xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAVwAAAFcCAYAAACEFgYsAAAACXBIWXMAAFmoAABZqAGs1AqdAAAA
GXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAALfxJREFUeNrsnYt24siybVNCgO2q
7up9//8bT3dX+81DZ9e46HQ4iMhMCUnoMdcYGlAUtgWIqaWVkZFlQAghNIpK3gKEEAK4CCEEcBFC
CAFchBACuAghBHARQgiNooq3AE1AxcC/v+YtRgAXAdPhoVtn/m6gjAAumj1Q7w1cXDICuGhRcC1a
/EwR+Zm+oVtHHqtb/p4CCCOAi8YGbOqxwvi3B9tiJHdbJ26t+/WNfwshgItaATYG18IBZ87/p54z
FGT1/ZznpECdcsIAGAFclAXYGEg9eJaR5xXqefcA7lkB19qCel5wnlO3jCiAL8BFK4ZsCrDy32UE
mNb9Lo8NBVwJ2vMNj+UAOzeSAL4AF60Msh5gLbiW6n7uVkR+Vv+fdtO3wFY7VXkrt9j/eVvt/LwF
5BwAA1+AixYMWS8KKBJg3Yhb7768jf0OC7xDA1dupwhQT8btyfnZUwbEPScMfAEuWjhkCweyEoiF
AmklbpvH5X3571LdLzOBXPQULViZaw5Q5f8dFWiP4jlH8bjevN95TgAY+AJctEDIeoAtFTw1RKvE
tlH3NwLSuU646AG63gBXjnO1gHo0bpv7B+MxfRsDMfAFuGjhkNWg04C0tq26v1WPbx34anh70B0T
uDHYnhzQSsAexXZwbo8CxocIiL1sGPgCXDRh0MYgqy/rLddqATR3s34+F7gSunKfYyeUkAkhCV7p
JnV0kAtcC6i/bj8v91Pb0QD2ScUXzX60cb6AF+Cikd1sGXGynoPV4NwZ93fqvvUzKeC2yW/HAG5O
jpsC7iEC3E+xHYz7HoQ1fL3Y4YzrBbjofm42lsVWEee6a7l50N0GO8/dhLyKhTL4EyluiRSsWCFV
9mW5XQ+8BwO0Gri/tg/nvoawdsBW9nu+vB+W65Uz3AAvwEU9gtYqs9KDVtuIY/217cXtXj2m73uw
tfLe0gBuEeK1t33BNge6sbrbOhI16IEx7VI1cD+MW73J52oHfDT+poavfB04XoCLOoI2FRuUGTFB
DK7WpuHrwdaKDirD0RYKuNYss5Bwt7c6XM/lhhCfRaZdr5fvHhzHqx2u3t7F7acD4eb3xLJf62QB
eAEuaglaPdvLc7MN+CQYPbg+qFsPuhq225A3KGbV8RaRyCDWvKZP4MrHYn0RPPg2g1ixuOFgxA0x
6L4bt+8RB2wBWNcGn0TcAHgBLuoIWukadVygXeyDcSs3/X87I06QjraB7CbEB8O8uKBtZ7AuvXZz
gOINpqUg7DlfD74SwCnwvhvAfY9AWMYT8nfLvw14AS66EbRWZLBTLrYB6qNzX0M3FR1Yg2BWlYHu
sRBzsW0hO5RS8I25Xyv7jcFXVzJIaL4b8NXbmwFh7YCl89WTLQAvwAW0htvToNX5rI4MpEt9FLd6
s9xtzM1KR2vNFLMAWwa/AU4I+e0f7wHc1L/riAO2GtjEysp0NcOHAV8LuG8Kvm/qOdr5ysgB8AJc
XK249UArL+d3RhZrwfUpAdu9k8/mlHPlZrFhgJhgqM+hdvajznDDGsK6YiDmeo/huj7Xy3ffItur
EUPI3DcXvJSTAdzFg1ZXG5TKYcYiAw3YJwO2j8oJ69jAg6zua5CCrBcT3BOoXa42PCAXLaIIq9bX
g+/Bga/Oed8M8L6K7U3cNs+7FbxAF+AuDrRFsCcnbJWblXGBBuyTA9sHJzrYGpGBLuNKTUSYK1z7
AHIRcYTWbQPcKlwPuO0M+OpBNp3vvinAvij4viowW2Vm1uCaV8cLeAHuLGErc1rpaj1HaznZZvum
IPtkgHbvgDZWxtVmyZuCz/bLfQ/AZYhnvhq+Xtar891X5XRfFHxfHPB+hOtJFQ30a8ALcJfiauXl
uSytioFWA/abgm0MtNZAmAdZrwftGhzsWACuxQk3BV8r630Ujvf9chxItyuB+3I5Nizwvkccr3S7
xAwAd9bxgcxp9UywBwO03wzQyse6ONq2kAWww0QROfDVA20NGD8un7t2u98UcF8M8L5mgLf5e0Wg
mgHgzjw+kPmpVW3QwPS7Adlma4CcAq0u5wKy84JvFb4OtO0uINyJqOHxAs7m9knBV4P3xQHve/g6
kaKIxAy4XYA7iS+U52ol/GQ51oMRG3x3bmWMIMu85O/zJih4mSyQnT58y/B1anFzQj1eTrKf4d9B
1XdxPL2KY+oXYJ9VDPWs4oZd+FpStlGO14oZcLsA9+6u1qo+kPGBLO16UnHBbxfAfjcc7lO4rjyI
gVZuIfTbgQuNB18J3I24baC7FY5Xlw1K8D4p8D5e/v1wud0L11sp6MpSsgK3C3CnBFvd76BxtTo+
kDBtAGsBV2e1XkYbWxMshNsXY0T3hW8hAFwK8FbGlZMF3icF3sbl6jGA5nfIjLcMXwfwPLcLdAHu
4KANTnwgB8T26uCXoP3NgG3K1eomMn2vBYamCd9awLdxvs1V1Cn4FS8WfHW9tjyhv6irsibf/Qxf
s12vdhfwAtzBIwRrhpg1IGaB9rfwNbPVrlbHB1ZTb0C7DvjqVR7kgOwp+KWGVsc4q9+G7on8evl9
7+KYO0TcLhEDwB0MtrovrTzIZU5rRQeWs31SrlbW03rlXQHQrhq8wTgWNXitmYuxLnIavLr/8cZw
u4GIAeD2fbBLoOms1qqnfQpfM9nf1Kaz2icnPvDqaMlnAa+ErwdeaQa8Jkgx6OoJNO/i7xzU8UfE
AHAHiRB0BYKV00rQ/m7A1spqtauITb8NgJZjU8DWA6+1/NLOAe/ecbl7xwBYbpeIAeD2HiHoJjMy
p9Vu9ncB3JSr3Yavg2JWjwNAi3LBG4u/9GxHDV5r2SW9xJLldokYAO7NEYK1hpjs5NW4Wg3Z35XD
la5Wl+No0G4Cg2HoNvCG4LcAtcYeLOereyhbJYle1EXEAHA7RQiyCkFXIMj4oIHsDwXcxt3KCgTt
GnSZF6BFt4JXThfWk3L0dHMdN2yNSMFaHURXzTQRw1E5XiIGgJuErXQEutxLDor9pkD7Q8FWRghy
MGIb4vW0gBbdejyHcF3He1ZXbbqscesAN+Z0rYHdo4gXyHUBrgtbndda/Q++qfhAwvaHALGOEHbB
niWmc1pAi4YCbyzfrcL1Gnpbx+GmgFsEcl2AaxyQsbxWu9onw9X+UDHC7+G6CkGXeum1wnC1aEzw
hnDdp9kaq6gMyO6UE061AT2Iv6dz3dVCt1rpQejltc3B9OBECNLR/hGuqxG8ci89S6wEtGjkY97K
dy3o6qoGHTmkVhLRneqOON31AteCrZ7I0FQhfFMRwg9jswbHZOYVGxQDtOjeMUMIXwfV9Hp73tp7
lbHFenwEoLs+4Hqw1aswyCqE3w3YSmcr62tlXhurQMDVoim4XdkQp7nsL8J1q8+NA9htsFeA9ibr
NH/7tGboVis6yKxKBD1r7Cniav8I15UIciKDrEKwLrEALZq62y0M6HrArSLA9cDbxAurhW61koNL
w1YPjuk+CBqyGraNs20iBNlwZhOuV10Atmgubjc43xdrgM26nzuBZ5XQrVZwQFkHjxwck7BtooI/
xCZdruzy9ZgZIQBaNCe3q783epq5BdlY/49YD5DVQbda+IHkwVYPjn0PX6sPfm3/CdcDZN9UhLAj
QkALc7ue07XyXe16Y3GCp1VBt1rwwZML29+Uq/2Pcre/O7DVeS0RAlqS27XAmwPc2CokxdqhWy30
oEnBVrZT1K5WAteqRNB5LRECWip4C+c75cG3CN2XfVoFdKsFHii5sG2c7X8UbGWUoGG7M2BLhIDW
EjGERNRQhNuWf1o8dKuFHSBtYPvDAK2EbRMjPCrYWpdPwBYtGbraVLTZ2mrR0K0WdGDcAtv/1xK2
5LVobfFCCNe5rvf9u/U7sVjoVgs5IPqArZxBJmErpzOS16K1g7dQ/PAge+t3Y5HQrRZwEPQFW136
pcu+5OAArhatOWLQ8UIY6DuxOOhWM//wY70RdOlXG9hazpbBMYTswbRqwO/FoqBbzfhDD8Hv+vVw
I2zl7DEGxxCyoStNSB8sqQ2o/rq/mC5j1Uw/7NDC2f4ObBGaBXStxSebxxaxXM+cHa7MbaueYgRg
i9B9oFsbzlZD9az+5uygW83wA7YaaWjYyt4IwBah6UM35m5r5W5nGytUM/tgY7CVS+Jo2Or+CMAW
oWlBt3a2YPz7HAE1wO0Ztjq3leVf350oQfZGALYITQe6FmTP6rY2IoZZQreayQcpoasbiOuVGn4I
d/sHsEVostD1YNuA9iT+fTYcr4wZZgHduTncMtirNXg9bS3YyoUegS1C94OuBVsJWQu4+vmzGjyr
ZvDheTPJPNj+wNkiNGno1gl328DWAq4GbzGnaKGa+IeWM0imowTdPFy2WJTTdYEtQveBbu3AV8NW
bxZ4Q5hRnltN+MOyooRc2Mrm4d8NZ0t7RYSm5XRTsD0lIoYQZpDnzsHhWhUJjxmwbVbX1S0WcbYI
3Re6GwOUGrhHtTWPyWx3dnluNdEPKGcmmTdIJmFLZovQ9KBbG0737LhcC7ye0518nltN8IPxcltZ
AvZdudsfEdjuDdjS9QuhacQLsQGzo7N5uW4IE89zq4l9ILEo4cGJEiRsfzec7RbYIjQp6JaKQfXl
u6qh2wD2oG4leGeV507V4ZaJKOG3CGy/CWerB8mIERCaFnRrx+l6wD2If2unO/k8t5rQhxCrt/Wq
En4YzlYOknlLmSOEphUvpIBrbTGnO8k8t5rImx+LEqz+tnqTsN2HePkXQmg633urcqE2oNuA9/Oy
6ZhButzzVKOFqTncVMvFBrg/jBiBigSE5gne0okWNHA/DejG4oXJRQvVBN7sNlGCdrZW+Re1tgjN
N1qQg2i6PKyB7IeCr4buZKOF6s5vdpsoQbtbC7a7QEUCQnOErjWIpoF7UA7XcrrHKUcLU3G4Ob0S
Ys52b8AWZ4vQPJ1uA92dihYkcD8M6B4dpzuZaKG64xscayiuYSsdroQtFQkILQe6IVwvvy6hq4H7
4YB3stHCFBxuTs2tBducQTKE0PzAK/Pcc/g3z9WVCh/G/UlHC9Wd3lDP3TZRgpXden1tmUmG0LKi
BS/PfRBAlZDVbney0UJ1hzdUQlf3SvDKwHSrxabedhuYSYbQEqErzVitXO5ROVsN3IMAr54Ucddl
1u/pcBs3qqOEJyNO0LBN9bZFCC0jWqjD12W1vGjhPVxnutZMtGItkUKbMjDpbhvgMrkBoXW63CZa
OItoIeZydZ6ro4W7DaDdI1KI9bl9cpytLgEjSkBondCVLvdJOVy5Seg24NX9FhbrcGMzyrS7/ZYZ
JVCVgNB6o4XjhQmHTOjqfgv1PVxudac3z3O33wxnm6pKwN0itB6XK6Ero4UYcGV9ruy5G8LIA2jV
SG9abJKDzm6/EyUghBzobpxoQQL37bJJ8OqZaGW4Q5nY2INmKXfrwdaqSmAmGULrAm/DEDkh4hj+
nZn6oYD7ZjhdHS2MWiZWjfQmFc4ZSme3GrZeblvgbhFadbRQXcDZRAtNF7HvBnAldOUstNHLxMYc
NPPcrRUnfEtECThchNYH3Uayhr9xuQfhct8c6HoDaKOViVUDv0G52a3eUlUJCCGiBRktNDzRLvdV
xAy6amH0MrGxBs0sd/vgxAm6MY1VlYC7RYhooRZMkV0G3wV0X4Od5+oJEaO43GrAN8Zzt9ZgmXS2
Vo9bBsoQQtrE1Ua0IKGrgatd7uHCltFcbjnSG5Pjbq0ogTIwhJBmiuSX1UvbqnySfNkL82eZucH4
Ug30htzqbne4W4RQJnQ3kWihcbnfldv9cFzuoBUL5cBvSo67lbD1OoFRBoYQ8himy00tl/vNcbmj
cqZv4HZ1t98S7pZ+CQghjzW61asFXa8CyooVBmNNOeCb0cXdegNlAXeLEIqAV7tcDd0n40o65XIn
Ddwi8gZod/sUOePgbhFCbZkjXa6OFqTT1cD1DN4g4B0qUvCWPdcvPKcMDHeLEMrlTtnR5W4c7swK
uNvMOAF3ixAawuU27IkBV2e5g5Wglj2+6JwmNU+Gw411A8PdIoS6ulw5gKadbhM1xGpyJx0pxLLb
fcLWW5MccLcIoa4ud2O43EfBHTlQP9rgWdnTi9Uv2HK3j467tSw97hYh1Jfp87JcneN6Lrc3Bg3h
cL31yrS7fQjxKbyAFiHUt8t9UJHCo2H6Bhs86zvDjdXePqoXmtOgBugihLrwKOZyPRYNbvzKHl5Y
YZxVrOqElLul9SJCqC8epSZDSNiOFiv07XA3wQ+rvRfoDZQBXYRQ3y7XY9Io7WD7HDSLVSc8OC/O
ay6OEEJ9XXVbdbkxJm2Ggm7Z0wvz7PveeGG4W4TQWOCNcelBMcmrmOotVhjC4Vr5ba67RQihvoEb
c7ly0xVTmzCxsrAiIyuxziSxVXgBL0LoVi615dM+jBB1lje8oCKky8Es2MaWzkEIob7ha0333bfk
Uy+GsC+Huwnx0cDYi2GwDCE0ZKzQ1uXqWKE3U9jHoFlfZ48AdBFCA8YKesHJXbBz3MHmB5QdX0jO
mWMvQMtgGUJoKrGCLl2V7nbQWKEvh5tj1VMvAiGE7hEr7FteiY8eKeS8gH24LrewmvwSJyCEphAr
5Lrc0YDrxQlWkwh5tpCrORAnIISmEivsIgbRGji76ap8DIdLnIAQmnKssJuqw/XsuQdc7W6JExBC
U4kVKsWoB4NdvZawli13XO/8xjlbpM4UxAkIoXvGCjGjKOtxZTMbi4F3cbgx2MrsljgBITTVWGFn
GMVeY4VbgbsJ1wG03lIzy4AuQuiescLWgK3Hr1GB61UobNVO651lvTKE0JScbumYxTYTIAYDbpFw
uJ67pXcCQmiKsPUiUc809lIe1mXQzLLkHnSrEB8sA7oIoXvGCjF+bUPPjWxuiRQ2CYebOjMghNC9
4FuG9OCZhu7NV+htHW5sZ/VWheuZZSWfNUJoQtFCF+PYGbpljzu6DXmjezhchNAUooUusYLFsmye
lZk7mGrJGHO35LcIoanBNjUWJeGbYtmgDrd0dtQ6I1i5B6BFCE0pViidq/VthsMdDLjegFkVcbib
QH6LEJoPcD2ebUIPBQBly51rs4PWYBkOFyE0BdBq6Ho8q0KPvWBuiRT0LLMqXGe33uwyoIsQmgJ4
c0ykZloROg6clS12KhYpVBlxAu4WITQ16HpjUlVIl7gOnuHKP5baMabyIoTm4nStUtfKiBTukuF2
2TGEEJoaaEPE5XpTe0eZ+GDlHZvMOCEAXoTQhGCbw7XYuFQnl9t24sMtO2W9WIQQmkqkIB3uxmHb
XR2utUPktwihOTndFNs24boOt9MU3zLT2XoOd+PsHCs7IITm6HBjfJvEoFnsDIDDRQjNCboNv7yr
97uWhVmxQhmoUEAIzTdW2AQ7zy3Djd0Pu3QL02cBndtuiBMQQjOFbWHEClVfV+9tIwUr5/AaOwBd
hNDUYRu7it+E9IBZCANM7bWgG9uZMvKCEEJoavC1+FY6bLuLwy2NHbqpKBghhO4cK1jQjbFt8CqF
tjuEs0UIzRW6ZYa7zZ7YVWbkG0Uk4/B2AmeLEJpzrFC05FwvEx9SDlfvROcwGSGEJgTe0rl6v8lc
5gyatYEukx0QQnN3uDHOycdbq2sdbunYbiIFhNDSHG4qVugVuCn4xpabALoIoTlAts1VfKflddoA
t+2OAFuE0Fxhmyp/7dx2tmuk4GUb9L9FCM0NtjHebfqMFboOmqVgS7SAEJqz2425W2+uwU1lYTmg
lTuUyjSALkJoqqDNiRY2xhV+bw63MIifS34AixCaK3jbVikMvqZZTjFwCJSHIYTmC92c+QbWFXzR
F3DbTHoAtAihOccKVnyQcreteynQRwEhhMO9BqxnKLNj1JzmNbGdoI8CQmjJ8PWu8jsxrsz8YxZ4
KQNDCK0JtuFWM9l2ppl3H9gihNYSN3RWeeMfz3kMIYTQjcBFCCE0EnDrzMcQQgi1AG4tYGrd148h
hNDSVN/KtzLDwdbGH/y1nQ3gAl2E0FLgGgy23QTeMjMuqB3YntV9zwkjhNASoHsT48oEbPX9c2Sr
nbMBQgjNLTawruTPEcebdWVfdtiBNuBFCKE5gTa0uJKvnTSgN+BKsJ4yYAt4EUJzd7gxc5lKBrKB
q8F5dqB7cnYC0CKE5grbcxggQi172olTxg4AYITQXOKE2uGcFTP0Btw6E7yUiSGElgDe0OJKvnV8
2mXQ7JwJXZwtQmgOgI3x7hR6LBBoO9MsFS3gahFCc3W1Mb5pl9vJWJYddi5nthnQRQjNGbo5xnLw
QbPaiRGY/IAQWgp821YpZKvroFnu5AeEEJoTaFOck4+3Vk7zmlzY0k8BIbREh5ua5HVzpEA/BYTQ
Wh3uObTLcLPN5a1VCifnPoNnCKE5wTaEbjPNYgb1ZuCmyiVi0EUIoTnBNsdQ9j5oVjvQPRmb19gh
i/4IITSBOOGsTOQp9FQccIvDbXbkaEC3DkyEQAhN39nqx86ZprJTcUDXOtzmDx8VdHWDB2CLEJpL
nHBWjLNM5SgO16K/hK3cPOgihNAcoCvNo+ScxbbBeynoOOEY0lku0EUITRm61tX7UTHuGNLjVJ2B
G5t1cTIs91FFC8QKCKE5wTbFt5PjcAeLFDR0vbPACYeLEJphnHB2TGRs4Cwbvl1XfDg5wD2GntqY
IYTQHRyuzm1zrt5Hc7jNTh0um7VjZ/XzCCE0BWeb4lqumRx10EyC9hDJOhBCaGrONoTr/PZoGMnU
lfsgDleXhR0dh0uOixCaW6TQxUgOMrXXWufnlIAu5WEIobnA9pzBtEHLwlIut4GutVOpWAHwIoSm
BNtYnKCZFltWrBfg1omzwUFt1tkg4HIRQhMAbSpOsFyuleG2VpcqBStS8IBrVSsghNAU3K03LpXD
s8EnPoSEBf+8bJ7LpT8uQmhq4PWKACTPYpFC7w7Xm+J7cs4GqWoFy9ojhNA9HW6MZ3eJFGKZx0Gd
FeSZ4abuOggh1CNoLXd7irjb1NX6IBMf5M7mnhW8UgqEELq3u/Wy28+Icbx5MldXh1sbDrfNjuJw
EUJTgK41DvXpuNyTihNG6aWQY8WbjRwXITSlOCGW3ebCdvAMt06cHQ7O2cHKcpl1hhC6p7PNdbc5
V+qDl4VZA2dy0Owj+CUVwBYhdG/oxtzth8OwXvhVdtzhOjNSyHG4wBchdM84QcNWQtfiV2du3Qrc
s3C41k57WS6DZwihKcQJBwe2H/d2uNY67KeELf9IuFyEELpHnHB0uPV+2XrPb/t0uN6ZQlcsECsg
hKYSJ0jYNqCdjMP1oBsD7nvGjgNbhNBU4oQcZnXWLVUK3hRffbaw6nKJFRBCU4gTPlSUkONuR5tp
1sXhyjzkQKyAEJponKBN4kEYxF6uyMsbX0wMutaLIFZACE09TvgI/oDZTSpvfAGpF/EeyUWIFRBC
q4kT+nS454TDzQ2igS9C6F5xgmcMe7sSL3t4UV49bgPdtwRwme6LELpXnPBuONxB4oRbgJuKFSyH
m3K5CCE0dJxwy1X4XQfNQsuzh3xRMZcLfBFCfccJue7WG2e6q8ONQfegXO6b2Bg8QwiNGSfowbKY
GbSm8/ZqAvsYNLPOInpusgRuyuUG4IsQGuDq+zMRJ0gzOMhajOVAL0yWXLwZ0B3cuiOEVg3aHHfr
MamX9cuGAq58kSd1NvFiBVwuQmho8MayWy/qHHSxhL4Gzaw6N53jvorNykwYOEMI9cUjL05IGcDB
4oQhHK5XHvYmoNvmrAJ4EUJ9udsUi3rvDjYUcK1YQVp47XA9l8u6ZwihrvwJwV9CR2a3r8rlxvLb
XtXnoFlwbPyHOqu8KOh6I4MBl4sQ6uFKW7pbafrexowThnK4sWqFV+cFswwPQmhodyujhFfhbkeJ
E/oEbiqs1sB9caKFIy4XIXSj4TsHe0GEN2X23jLc7SSB67lcq1rhRWwSurG1zxBCKNfdWnW3r5E4
QUeag5WnDg3cU7DLw17C9QDaBy4XIdSTu9VlYDHgDj5YNgRwUw0jrFjhJVxnubhchFAf7laXgb04
7tYyebOIFIJ6A7yaXCtWeMPlIoRuvKru4m5HK0kdKlKIZblvyuE2Gy4XIdSFNd5AmcUaqzpqtDUW
y4HfEFwuQmhIWWVgGrbPBnBT7nYQzlQD5iqhpct9+u/2eNn2lzfu1/5tLieGQtwihHC3sUkOGrbP
6kraGywb1NCVI7wxXVyuV5dLjwWEgK3lbg8Rd/vsuNvD2HwZctCsS5abqsulxwJCSOa2sgzsw3C3
MeCOUgo2dKTQxeU+XyKFJxEtPPx32/1326pYodlq4gWEVuluYwNljWnTsH0JdqOawfomjB0p9OFy
R2kKjBCaFXRT7QOeHXcbKwUbRdWIb1LM5b4qpysHz6TL3Vx+j3S2uFyE1gPalLuVUcI/CXd7GtPd
jgHcWMWCPCvJKgUvVvAqFogWEFqPUmVgVpTgudvRV5ipRnyjYtN9Hy5vzKNwuQ8J4AJbhNYXI3it
Fy13+xzystsQFjZolutyH0ScIIGrB88YQENoPbANN0YJuu72bquEV3d486xOYr/elL0C7qPjci2n
C3QRWofDTUUJ/4j7r1Nyt2MCN+Vy35XL1dsuES0wAw2h5YLWar0oowQLtrmzyhbtcEOIZ7m7i9Pd
K+DuBXQrogWEVhclpKbv6jgh1TPhLqru8AY2908XYB4uAH2/ONidAO5ebBK4XqwAdBFaFnRzqxL+
CdcDZboj2OhlYFNxuHJJdelyKwHWvQKvFSsQLSC03CghVZWgYZtyt3cD7b2AWwsXqrPczWV/3pTT
xeUitN4oQee20tn+AuzPyzbJMrApONxgALdULrcygLsTt5VyutrdlkAXodnCVjem0bntswJuyt3e
rQxsKpFCod7cxuWWArhbBdldJFooFXALYIvQ7OMEvT6ZHCT7qdztPyFvCu/d3O29Ha68f7oAsnG5
GwHcneN2t+F6MkQpgCvvI4TmA9rUINk/Dmyt9oujdgObKnDbRAsWeCVwY2Vi5LkIzSdKiDW5smD7
t4DuS5hgGdiUgNsmWtDQtYDbbIWKFMhzEZo+bK3c1oPt3w5sUwtD3h281UTe7Fi0IF2uzHWb+xq4
pQIuTheheThbL7eNwfY5w93icFtECxvH6UrgemViVaA+F6GpQ9eDrVwRRkYIP50oYXJlYFMEbipa
kMCtDOjGgKujhQB4EZqcyfIGyXRFwt9ikwNlk+qXMBeH60ULErrS6epNQ5doAaF5RAmxQTIPtrEo
YVK57RSB60ULTRzQRAsbA7pVBnAZRENoWrBtM0j2V/AHylJLnk9K1cQ+iFi0oJ1ulQFcy+kCXYSm
BducQTIN29cwk9x26g43iA8lGNHCxgCvznE3DnAr4gWEJhEjxGaSSdj+FdK5rTV9F4fbAbq1ihZK
BV4PthZw5WtmEUqE7g/bQwS2fxmwnVUJ2FyAKz8k3VGsEMAtBWRTLlcPnMk8F+giNC5sTyHeI+Hv
SJQwmxKwOQE3J8/VEYO1WYNn+rUDXYTu42w/HNj+pRxu426bKGGWsJ2Dww0CuI1DPaiIoQtsC6CL
0F1ge8yIEWKwnUW97RyBq6Er81yZwVqOtwx+aRhOF6H7wrZpJG7B9k8B21RjmsnW284VuPID1PW5
hQNcfd8DbQC6CE3S2f4V/Nx2VoNkcwSul+cGB7hFwt2m3gugi9D4sP1TudtFDJLN2eEGAdxGB8Pt
Fh1gC3QRGhe2fxuw/TMsMLedI3A96MpBtBDSeW2b9wToIjQsbH8B9n8UbH8Gu9529rCdG3CtD1dG
C8EBbHHD+wJ0ERoHtl6UMKllztcGXGuZdQ3XIvJvoIvQNGHbtinNLKE7V4erB9H6dLdAF6H7Otv3
EJ+2i8O904cdBHRPBmiLHv6GbHhDlzGExokRJrsu2RqBa0H3NODvb2p6A9BFwPb/TE4dvk7XPdwA
W6vd4iwnNywVuENAt3bO4lv1XvXhoBGaM2xlIxqrNwKwXSBw+4auhKz1QW9UvBAAL1oRbOtgN6Jp
nG0zXbdZFgfYLhC4fUG3zti2l9uNiBcYTENrcLW1iBFOytlK2DbO9m9gu1zgdoVunYCt1UV+q34H
g2loLbA9t4Ttn8B2ucDtAl0PuGd1kJ0d+MrBNHJdtMTvkvwuyNV1rebhFmybWCG1HtniYbtE4LaB
bp0Arjybn51tG8h10TK/Q9Z3wVpdVzYPtxrRNM72ee2wXSpwuzpdfXDlANfKdYkY0FIiBJ3XWrDV
Cz7+pWCbWh5nNbBdMnBzoFsnzugSuCdxhreaaFREDGihEYIu+7LqbGWUIF2t1YhmtbBdOnBT0PXi
BO1ujxHgNs/bh6+5LhEDmqOrtSIEOXvs7QLb5/A1s9XrkP0UsH0NX6frrha2awBuDLp1ZpxwdDYJ
YJ3rEjGguUcIDWj1kjjPRowgb/8WQH4N9moNq4TtWoDrQbc2nmMNmEnIHhzgNttDRsSA20VTc7W1
42o/wteyLw+21nLmunn4QfyNVcJ2TcC1oHs2YGtluJa7Pajbk3LGu0jEwEQJNEVXexbHs3S1rwZs
LdDqvFYuZ77IRjQAtzt0vRrckwHegwFcK244X8DbuF3pdHG7aAqutjlOm2O2iRDew7+DY0088FM4
W8/VWoNjR2C7XuBq6OoP35v04MUKBwVgDdwm0z2rmEGuwYbbRWMd82cFWx0hyMkMuuzrp4JsM2tM
Rwjv6jtxBrbrBm6u083Jcw+G4z2o5+/F75Ful2wXje1qLRNxUBGCzGufBVx/qvjgHyNCsAbHzsZ+
rFbVyg/Gwjj7hxAvkTkZwP1Utzp6aErHpNvdCPgSM6Ch4wNrxlgzkUFWITQxgna2ErQyQmhc7aeC
rXa2Ye2wXTtwLeiGcD2KqmeXnYx4QQNX3z8qt3u6vPfVBbgyZgC8qE/Q6qy22RrQ6iqEFwFWC7TP
4boK4VNFCNaCjzUfD8C1DgTrQPHiBQ+4n+JAtMC7u2xn5XSl2y3FPgBelHsMn4Pdt1bOGLOqEF4E
VH8q0P5UoH01XK2X1wJbgJsF3nPELZyCXbkgD+YPBd1mewz/v173JJxuA95NuM53C8CLMo7Z2NR0
aQzew9dZY7Lk6x/D0TauVoL2PVxXIZDXAtybI4ZzRrygW9Zp8H6KS68P5XgfLk731+9olvHZBDvf
BbwoBto6cVzqci/pap8N2D4LV6tra3U/BPJagNt7xJCKF7TT/VA52YcC79Pleb+guw//DqpVCrw6
apACvIA2dTzqrFa62mflZH+Kx14SrpYIAeAOCt7YYFoMuO/O1vz/42U7hH+z3Z2Crhc1AN51HYup
E7/ugSCbzujGMxq2ckDsWfyM52qJEADuqBGD1cbOK7nxoPvtsjXgfbhsDXy3DniLQFXD2kBbh+tV
c08Z8YEeGLNgK5vNSFf7EXG1RAgAdxToerPTLLf7YbjdN7U1X4wn4XabmGEnwLsR8C2NqAHwLhu0
deIEL8cNtKt9MZyt/LfOaXOzWmALcEeJFxqXkQLuwcnRNHhfhdt9Um53L6ArM94y2Bmvbo4DfOd3
jNUh3VDp5IDWcrUWcF8UaK3ZYp6rJUIAuHePGKwG5seML0UD2+/i/pMBXp3vVo7j9XJe4DsPyIbg
N1HyxgqsY0qC1rptnvdmxAe4WoA7Wbeb23/B+oK8OuCV0H0S0M0BbzNrTVc2AN/pQzYFWmtATIP2
VYFVgvfVcbSyZ63VVN8atEMA967gPYf46LE1MeLN+LLIeEFGDE8qZrCihk24ni5s5bzAd1qQtXrT
WoOwGrTvBmi97TVcjxt8quhLrsaAqwW4k48YavWY/BJplxK7FNTAleB9zACvV8cLfKcJ2VjVwTF8
HXzVV0cvDmxfHdDqKeeyIVOs+gDYAtxJOt1Gsm73FHEsGryP4svypMD7lADvNnwtJ7PAC3ynBdlY
+08v+9eDYtb9twzQWvFBwNUC3Dm63VTMYH2pGuC+iRjhRblcGTF0cbxt4KubowPgOGBDB8h6MxUP
4esMRSvzl5C1QCtnOx4M0FrxAa4W4M7a7VoxQ2p2mnS6DVyflcvVbldXNFjg3SrwejW9peF6AXAa
sMEAmAdZ2VTGa35kudo3BdlXFRtI0FqO9hzS/Q8ALcBdDHibL2EZ7JVS5RduL75oEqzS5WroPl5+
Tk+e0FHD1gCvHGjzZrRpAC8xiqg7OtlagewU7MFTKzbQ/Te8eu1X5XTl8zRom79hTcel+gDgriZm
kE7odAFdcysH1XaXL9P+8uV6MOD6GHG6MmaQGa+Gb5WAr+V6vew31dWsmNBnk+NgPbgGIy7wIOtl
s4fgNzl6i2yyocx7B9CGcD1xAdgC3EW53bbg1WVAO+F49wK+HoQ1dGXUoAfYdNZbJVyvl/mmphhP
ocVk3cLJ5g58WRNeYtmsBKTOaXWM8G7cyrIu3e8gB7S4WoC7ypghBt7j5fNpbuVotQTng4LvgwFc
7XatnHcnooaY642BNxVBTCH/jVUSWBFBqowrNgCmVwOx+iN7jY3elIN9D9eN7Q/h6zRcQAtwUUfw
NhnvUTjejXCkMpvdKye7jwDXihp0zttsm0z4WgNuRcQFh0z4Fj29t7F4ICTgag18eZA9hevFRa18
9j3ibD+cqEBPvf1Uf/sMaAEu6ge8JwXexvFWyqHulfvdG5DVtynw6kG2WN67ceBbGrFDrP73Fgcc
y2YtsAYjh5VXG7Fc1hoEi4HWakb/brhXvTTTwchmj2q/AC3ARTeA93SBzlmA63S5fzTAu424352I
EWLAjbndbQK8VplZGeyBt1gE0TdwcyOC2BJKMdAeMl2tBVxv/TsN2KMRG+heB4AW4KKeLodrBd+z
cr360l/Dd6tg6oFW3+7C9ew1q3dDZTheC76p/PdW2MZy2joBVw3ZsxMZSMim1rL7iIBXPvcQ7NWd
9bTbkwHZOsTL1hDARRmwKIwvkpw8UYi4oXG9pQFgCcpdxAHvDIergWs5Xqu6IeZ6vR6+fUG3Trjb
swGvlJs9BrvP8cEBrgbvZyQmOBhO9mTEBVabxNp5zQjgoh7BG5y4oVBQqxSAt078sDUAa8UKO8Pl
avDGoJuaWhxuhK7n9GJTa2Ow1aDV7vYzEiccHLgeDMieHCdr5coB0AJcNH7UYMUNhYLvUYCtMtyv
B2Fvs0rHYsBNwfcewE1BNgXcYwS43hbLYo/qJFA7TpbYAOCiCbpeCd+TAO5RXdZvjChgK24tIFuA
tcrHUhFDbF22W5cGSk259WCrIwSr3MtzvBaQT+G6osAb9Dq3gCygBbhoYq7Xgq+uFtgYtx6IKwPK
McDGQOtNohgLuKcEdD3wWgC2BtQ0WE/G3z23dLJAFuCimcNXZr7WoJYFYg3lMtPJ5k6a6GvhS286
bgy6Oc73bMA0BVarfAvIAly0YvhatbIeiK373qDYJvGz3sSIvt4La2KDVaVwch47GffPkfsWWD3A
AlmAi1YKX+l4rSm6GsIWkNtuxZ2AG6vBzd3qiGv11gIDsgjgAt+r7l0egItMIHe57StKSEUL5xtv
U47V69MAZBHABb7J/481nrFyVw3QMgPWYSTghgxonp3nhUywtumxiwAuAr5JAKdui8Tjsc5hYwE3
BtCQeDwEvw627vgeI4CLVg7fIuS1OwwJcBaZt2O9vhx45jaAAbAI4KLR3G/Oz8Tg6z1v6NfRdmps
3eN7hAAuQjcBtb7h58dwuXUPzwGuCOCiSTvhNjCeglsHqgjgokXCeGwoA1MEcBFQ5i1Aa1HJW4AQ
QgAXIYQWpf8VYACGjUsJ5x9aAgAAAABJRU5ErkJggg==" transform="matrix(0.1235 0 0 0.1235 2.3642 2.7902)">
	</image>
	<g id="XMLID_2_" class="st1">
		<path id="XMLID_3_" class="st2" d="M23.4,3.7C12.6,3.7,4,12.4,4,23.1s8.7,19.4,19.4,19.4V10v32.5c10.7,0,19.4-8.7,19.4-19.4
			S34.1,3.7,23.4,3.7z"/>
	</g>
</g>
<path id="XMLID_112_" class="st3" d="M24.1,9.1c0.1,0.5,0.2,1,0.3,1.5c0.1,0.5,0.2,1,0.2,1.5c0.1,0.5,0.2,1,0.2,1.5
	c0.1,0.5,0.1,1,0.2,1.5l0.2,1.5l0.2,1.5l0.2,1.5c0.1,0.5,0.1,1,0.2,1.5l0.2,1.5l0.2,1.5c0,0.5,0.1,1,0.1,1.5l0.1,1.5
	c0,0.5,0.1,1,0.1,1.5l0.1,1.5c0,0.5,0.1,1,0.1,1.5l0.1,1.5l0.2,2.1l-1.9-0.9c-0.4-0.2-0.8-0.4-1.2-0.6l-1.2-0.6l-1.2-0.6l-1.2-0.6
	l-1.2-0.6c-0.4-0.2-0.8-0.4-1.2-0.6l-1.2-0.6c-0.4-0.2-0.8-0.4-1.2-0.6l-2.2-1.1l2.2-1l0.9-0.4c0.3-0.1,0.6-0.3,0.9-0.4
	c0.6-0.3,1.3-0.5,1.9-0.8l0.9-0.4c0.3-0.1,0.6-0.3,0.9-0.4l0.9-0.4c0.3-0.1,0.6-0.3,1-0.4l1-0.4l1-0.4c0.3-0.1,0.6-0.2,1-0.4
	c0.3-0.1,0.6-0.2,1-0.4l1-0.3c0.3-0.1,0.6-0.2,1-0.3c0.6-0.2,1.3-0.4,2-0.6c-0.6,0.4-1.1,0.8-1.7,1.1c-0.3,0.2-0.6,0.4-0.9,0.5
	l-0.9,0.5c-0.3,0.2-0.6,0.4-0.9,0.5c-0.3,0.2-0.6,0.3-0.9,0.5l-0.9,0.5l-0.9,0.5c-0.3,0.2-0.6,0.3-0.9,0.5l-0.9,0.5
	c-0.3,0.2-0.6,0.3-0.9,0.5l-0.9,0.5c-0.6,0.3-1.2,0.6-1.8,1c-0.3,0.2-0.6,0.3-0.9,0.5l-0.9,0.5l0-2.1c0.4,0.2,0.8,0.4,1.2,0.6
	l1.2,0.6c0.4,0.2,0.8,0.4,1.2,0.6l1.2,0.6l1.2,0.6l1.2,0.6l1.2,0.6c0.4,0.2,0.8,0.4,1.2,0.6l-1.8,1.2l-0.1-1.5c0-0.5,0-1-0.1-1.5
	l-0.1-1.5c0-0.5,0-1-0.1-1.5l-0.1-1.5c0-0.5,0-1,0-1.5l0-1.5l0-1.5c0-0.5,0-1,0-1.5l0-1.5l0-1.5l0-1.5c0-0.5,0-1,0-1.5
	c0-0.5,0-1,0-1.5c0-0.5,0-1,0-1.5C24.1,10.1,24.1,9.6,24.1,9.1z"/>
</svg>
</div>
<div id="new-logo">DROLLE</div>
</div>
<div class="memeb-wrapper-2">
    <img src="http://i.imgur.com/rDBCo2M.png">
    <p>Make a meme, if you pass<br>you're in.</p>
    <button class="memeb-button-3">Continue</button>
</div>
<div class="memeb-wrapper-3">
    <p class="memeb-title">Setting up your profile</p>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:id => "i"} ) do |f| %>
        <%= f.email_field :email, autofocus: true, class: "memeb-field f new", placeholder: "Email" %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
        <%= f.text_field :pic, value: rand(1..20), class: "hidden-imp" %>
        <%= f.password_field :password, autocomplete: "off", placeholder:"Password" , class: "memeb-field s new" %>
        <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirm Password", class: "memeb-field t new" %>
        <p class="memeb-notice">You can create your meme, after this step</p>
        <button class="memeb-submit" type="button">Start</button>
        <%= f.submit "Sign up", id: "memeb-sign-up-submit", class: "memeb-button-3"%>
        <% end %>
</div>

<div class="memeb-wrapper first">
    <div>
        <p class="memeb-title-small">Can you pass? ..</p>
        <p class="memeb-title-big">THE MEME CHALLENGE</p>
        <p class="memeb-detail">Make a meme and if you were accepted, you're in!</p>
        <button class="memeb-button first">Continue</button>
    </div>
    </div>

    <div class="memeb-wrapper second">
        <!--<p class="memeb-title">What is happening?</p>-->
        <div>
            <p class="memeb-detail">After you post your meme, current users will choose to let you in or keep you out.</p>
            <button class="memeb-button second">Continue</button>
        </div>

    </div>

    <div class="memeb-wrapper third">
        <div>

        </div>
        <p class="memeb-title">Setting up your profile</p>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:id => "i"} ) do |f| %>
        <%= f.email_field :email, autofocus: true, class: "memeb-field f", placeholder: "Email" %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
        <%= f.password_field :password, autocomplete: "off", placeholder:"Password" , class: "memeb-field s" %>
        <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirm Password", class: "memeb-field t" %>
        <p class="memeb-notice">You will be able to set up your profile when if you get accepted.</p>
        <button class="memeb-submit" type="button">Start</button>
        <%= f.submit "Sign up", id: "memeb-sign-up-submit" %>
        <% end %>
    </div>

    </div>
    </div>

    <div id="remote-invite-wrapper">
        <i class="material-icons close-wrapper">close</i>

    <div id="invite-buttons-wrapper" class="second">
            <label id="invite-tab-1" class="invite-tab active-invite-tab">Log in</label>
            <label id="invite-tab-2"class="invite-tab">Sign up</label>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:id => "invite-2"} ) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <span id="att-before-username">@</span>
    <%= f.text_field :username, autofocus: true, id:"sign-up-username-field", placeholder: "Username" %>
    <i class="material-icons" id="username-check-icon">check_circle</i>
  </div>

  <div class="field">
    <%= f.email_field :email, autofocus: true, id: "email-field-settings", placeholder: "Email" %>
    <i class="material-icons" id="email-check-icon">check_circle</i>
  </div>

  <div class="field passwords">
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
    <%= f.password_field :password, autocomplete: "off", placeholder:"Password"  %>
  </div>

  <div class="field passwords">
    <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirm Password" %>
  </div>
  <%= f.check_box :pro, checked: false, class: "hidden" %>

  <div class="actions">
    <%= f.submit "Sign up", class: "hidden submit-invite", id: "sign-up-submit" %>
    <button type="button" id="sign-up-submit-before" class="invite-submit">Sign up</button>
  </div>
<% end %>



        <%= form_for(:user, :url => session_path(:user), :html => {:id => "invite-1"}) do |f| %>



          <div class="field">
            <%= f.email_field :email, placeholder: "Email" %>
          </div>

          <div class="field">
            <%= f.password_field :password, autocomplete: "off", placeholder: "Password" %>
          </div>

          <% if devise_mapping.rememberable? -%>
            <div class="field" id="remember-me-button">
              <%= f.check_box :remember_me, checked: "true"%>
              <%= f.label :remember_me %>
              <a class="forgot-password-new" href="/users/password/new">Forgot passowrd</a>
            </div>
          <% end -%>

          <div class="actions">
            <%= f.submit "Log in", class: "invite-submit" %>
          </div>

        <% end %>
    </div>


</div>
<%= form_tag url_for(:controller => 'pages', :action => 'checkUsername'), :method => 'get', class: "hidden", remote: true do %>
      <%= text_field_tag 'name', '', id: "username-check-field"%>
      <%= submit_tag "Save", id: "username-check-submit" %>
    <% end %>
    <%= form_tag url_for(:controller => 'pages', :action => 'checkEmail'), :method => 'get', class: "hidden", remote: true do %>
      <%= text_field_tag 'email', '', id: "email-check-field"%>
      <%= submit_tag "Save", id: "email-check-submit" %>
    <% end %>

<% end %>