<div><%= render '/layouts/left' %></div>
<div id="content">
    <% @post.each do |post| %>
        <div class="wrapper">
            <h2 class="post-title"><%= post.title %></h2>
            <%= image_tag post.image.url(:medium), :class => "post-image" %>
            <div class="upvote-downvote-comment">
                <%= link_to like_post_path(post), method: :put, class: 'upvote' do %>
                    Upvote
                    <%= post.get_upvotes.size %>
                <% end %>
                
                <%= link_to dislike_post_path(post), method: :put, class: 'downvote' do %>
                    Downvote
                    <%= post.get_downvotes.size %>
                <% end %>
                
                <h2><%= post.comments.count %> Comments</h2>
                <div class: 'comments-wrapper'>
                    <%= render post.comments %>
                    <%= render "comments/form" %>
                </div>
                
            </div>
        </div>
    <% end %>
</div>