<%# link_to 'Sin in with Twitter', user_omniauth_authorize_path(:twitter) %>
<body id="<%= controller.action_name %>" class="<% if user_signed_in? %> signed-in<% else %> not-signed-in<% end %>">
    <i class="material-icons" id="hide-remote-make">clear</i>
    <% if user_signed_in? && @pTotal < 4 %>
    <div id="progress-table">
        <p class="<%= if current_user.image.url(:medium) == 'missing.jpg' then '' else 'progress-done' end %>">Set your image</p>
        <p class="<%= if current_user.cover.url(:medium) == 'missing-2.jpg' then '' else 'progress-done' end %>">Set your blurred cover</p>
        <p class="<%= if current_user.bio.blank?  then '' else 'progress-done' end %>">Write your bio</p>
        <p class="<%= if current_user.posts.count == 0 then '' else 'progress-done' end %>">Upload your first post</p>
    </div>
    <div id="progress-number" class="hidden-imp" data-progress-number="<%= @pTotal %>"></div>
  <div class='progress'>
      <div class='hide'></div>
      <div class='active'></div>
      <div class='active2'></div>
    </div>
<% end %>
    <%# render :partial => "announcements/starburst/announcement" %>
    <div class="messages-container">
        <div class="notice-message"></div><span class="notice"><%= notice %></span>
        <span class="alert"><%= alert %></span>
    </div>
<%# User.find_by_id(3).votes.down.where(:vote_scope => 'report').for_type(Post).votables unless User.find_by_id(3).votes.down.where(:vote_scope => 'report').for_type(Post).votables.blank? %>
<%# current_user.votes.where(:vote_scope => 'favor').for_type(Post).votables %>
<%= render '/layouts/activities' %>
<div id="overlay-under-notif"></div>
<div class="overlay-full"></div>
<div id="content-full2" class="full-wrapper new-content">
    <div id="main-page-type">
        <i class="material-icons" id="back-list">arrow_back</i>
        <%= link_to '<span id="feed-type"  class="active-type">Feed</span>'.html_safe, '/' %><%= link_to '<span id="recent-type">Recent</span>'.html_safe, '/recent' %>
        <i class="material-icons" id="next-post-icon">navigate_next</i>
        <i class="material-icons" id="prev-post-icon">navigate_before</i>
    </div>    
    <div class="content-overlay"></div>
    <% if !user_signed_in? %>
        <div id="unlock-feed">Log in to see your feed, or browse the recent page.</div>
    <% elsif user_signed_in? && current_user.following.count == 0 %>    
        <div id="unlock-feed">You haven't followed anyone yet.</div>
    <% else %>
    <%= will_paginate @post %>
    <% @post.each do |post| %>
    <%# if user_signed_in?  then current_user.following? (post.user) end %>
        <div class="wrapper" data-post-id="<%= post.id %>">
            <div class="left-wrapper">
                <% if current_user.voted_on? post, vote_scope: 'favor' %>
                <i class="material-icons favourite-icon">favorite</i>
                <% end %>
                <div class="left-wrapper-overlay"></div>
            <div class="post-image-wrapper <%= if post.long === true then 'long-wrapper' end %>">
                <% if post.long === true  %>
                    <i class="material-icons expand-post">expand_more</i>
                <% end %>
                <div id="loadPost" class="hidden">
                    <%= form_tag 'pages/loadPost', remote: true, :method => 'get' do %>
                        <%= text_field_tag :postid, post.id %>
                        <%= submit_tag "Save"%>
                    <% end %>
                </div>
                <% if user_signed_in? %>    
                <div class="post-more-button <%= if current_user.voted_on? post, vote_scope: 'report' then 'reported' elsif current_user.voted_on? post, vote_scope: 'favor' then 'favorited' end %>">
                            <%= link_to dislike_post_path(post, :report => true), method: :put, class: 'report-post', title: 'Report this post', :"data-post-id" => post.id, remote: true  do %><i class="reported-post material-icons">report</i><% end %>
                            <%= link_to like_post_path(post, :favor => true), method: :put, class: 'favor-post', title: 'Add to favorites', :"data-post-id" => post.id, remote: true  do %><i class="material-icons favorite-post">favorite</i><% end %>
                </div>
                <% end %>
                <%= link_to(post) do %>
                    <img src="<%= post.image.url(:medium) %>" class="post-image">
                <% end %>
            </div>
            
                <div class="voting-wrapper">
                    <span class="post-votes count" data-post-id="<%= post.id %>" data-votes="<%=  post.get_upvotes.size - post.get_downvotes.size %>">
                    <%=  post.get_upvotes.size - post.get_downvotes.size %></span><span class="post-votes-word"> upvotes</span>
                    
                    <%= link_to dislike_post_path(post), method: :put, class: 'down downvote', :"data-post-id" => post.id, remote: true  do %>
                    <% end %>
                    <%= link_to like_post_path(post), method: :put, class: 'up upvote', :"data-post-id" => post.id, remote: true  do %>
                    <% end %>
                </div>
                
                <% if !post.title.blank? %><div class="post-title"><%= post.title %></div><% end %>
                <div class="post-footer">
                    <i class="material-icons comment-button">chat_bubble</i>
                    <% if post.anonymous != true %>
                        <a href="/user/<%= post.user.username%>" class="user-link">
                            <% if post.user.image.url == "missing.jpg" %>
                                    <div class="post-footer-user-image" style="background-image: url(/assets/<%= post.user.image.url(:thumb) %>)"></div>
                              <% else %>
                                    <div class="post-footer-user-image" style="background-image: url(<%= post.user.image.url(:medium) %>)"></div>
                              <% end %>
                            <span class="post-footer-user-name"><%= post.user.username %></span>
                        </a>
                    <% else %>
                    <% if !post.facenumber.nil? %>
                        <div class="post-footer-user-image" style="background-image: url(/assets/ragefaces/<%= post.facenumber %>face.png"></div>
                    <% end %>
                        <span class="post-footer-user-name anonymous-name">Anonymous</span>
                    <% end %>
                    
                        <i class="material-icons post-options" tabindex="12">more_vert</i>
                    <div class="post-more-options">
                        <p><%# link_to 'Report', report_post_path(post), method: :put, :"data-post-id" => post.id, remote: true %>
                        <%= link_to dislike_post_path(post, :report => true), method: :put, class: 'report-post', :"data-post-id" => post.id, remote: true  do %><span class="report-icon"></span><span class="options-text">Report</span><% end %>
                        </p>
                        <p><%= link_to like_post_path(post, :favor => true), method: :put, class: 'favor-post', :"data-post-id" => post.id, remote: true  do %><span class="favor-icon"></span><span class="options-text">Add to favorites</span><% end %></p>
                    </div>
                    
                    <% if current_user %>
                        <%= link_to(post) do %>
                    
                        <% end %>
                    <% else %>
                        <a href="/users/sign_in"><i class="material-icons comment-button">
                    <% end %>
                    
                    <% if current_user != post.user %>
                    
                    <div id="main-share-button">
                    <% if current_user.share == '1' %>
                        <a  href="http://www.facebook.com/sharer.php?u=https://drolle-3-malekzalfana.c9users.io<%= url_for(post) %>" title="Facebook" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <% elsif current_user.share == '2' %>
                        <a href="http://twitter.com/share?url=https://drolle-3-malekzalfana.c9users.io<%= url_for(post) %>&amp;<%= post.title %> &amp;hashtags=drolle" title="Twitter" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <% elsif current_user.share == '3' %>
                        <a href="https://plus.google.com/share?url=https://drolle-3-malekzalfana.c9users.io<%= url_for(post) %>" title="Google Plus" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                    <% elsif current_user.share == '4' %>
                        <a href="http://www.reddit.com/submit?url=https://drolle-3-malekzalfana.c9users.io<%= url_for(post) %>&title=<%= post.title %>" target="_blank"><img class="share-main" src="http://i.imgur.com/0mHlxNx.png"></a>
                    <% end %>
                    </div>
                    <% if current_user.share == nil || current_user.share == '0' %>
                        <i class="material-icons more-post-options share-button">share</i>
                    <% end %>
                    
                        <% if (user_signed_in?) && (current_user.voted_down_on? post) %>
                            <%= link_to dislike_post_path(post), method: :put, class: 'down downvote downvoted voted', :"data-post-id" => post.id, remote: true  do %><% end %>
                        <% elsif (user_signed_in?) && !(current_user.voted_down_on? post) && !(current_user.voted_up_on? post)  %>
                            <%= link_to dislike_post_path(post), method: :put, class: 'down downvote downvote vote', :"data-post-id" => post.id, remote: true  do %><% end %>
                        <% elsif (user_signed_in?) && !(current_user.voted_down_on? post) && (current_user.voted_up_on? post) %>
                            <%= link_to dislike_post_path(post), method: :put, class: 'down downvote downvote vote not-voted', :"data-post-id" => post.id, remote: true  do %><% end %>
                        <% else %>
                            <span class="down downvote vote"></span>
                        <% end %>
                        
                        <% if (user_signed_in?) && (current_user.voted_up_on? post) %>
                            <%= link_to like_post_path(post), method: :put, class: 'up upvote vote voted', :"data-post-id" => post.id, remote: true  do %><% end %>
                        <% elsif (user_signed_in?) && !(current_user.voted_up_on? post) && !(current_user.voted_down_on? post)  %>                            
                            <%= link_to like_post_path(post), method: :put, class: 'up upvote vote upvote', :"data-post-id" => post.id, remote: true  do %><% end %>
                        <% elsif (user_signed_in?) && !(current_user.voted_up_on? post) && (current_user.voted_down_on? post) %>                            
                            <%= link_to like_post_path(post), method: :put, class: 'up upvote vote upvote not-voted', :"data-post-id" => post.id, remote: true  do %><% end %>
                        <% else %>
                            <span class="up upvote vote"></span>
                        <% end %>
                            
                        
                    <% else %>
                        <i class="material-icons more-post-options">more_horiz</i>
                    <% end %>
                        
                    <% if user_signed_in? %>
                        <span class="post-votes-word" data-points="<%= post.get_upvotes.size - post.get_downvotes.size - if current_user.voted_up_on? post then 1 elsif current_user.voted_down_on? post then -1 else 0 end %>" data-user-votes="<%= if current_user.voted_up_on? post then 1 elsif current_user.voted_down_on? post then -1 else 0 end %>"><%=  post.get_upvotes.size - post.get_downvotes.size %> points</span>
                    <% else %>
                        <span class="post-votes-word" data-points="<%= post.get_upvotes.size - post.get_downvotes.size %>" data-user-votes="0"><%=  post.get_upvotes.size - post.get_downvotes.size %> points</span>
                        </div>
                    <% end %>
                </div>
                <div class="more-post-options-container">
                        <% if current_user == post.user %>
                        <% if post.anonymous != true %>
                            <span class="anonymous-checkbox" class="inline-block-imp">
                                <%= form_for (post), remote: true do |f| %>
                                    <%= f.check_box :anonymous %>
                                    <i class="material-icons anonymous-checked"></i>
                                    <div id="anonymous-image">
                    			 		<i class="material-icons">add</i>
                    			 	</div>
                    			 	<%= f.text_field :facenumber, class: "hidden anonymous-image-field" %>
        			 	            <span>Anonymous</span>
        			 	            <%= f.submit 'Save', class: "submit-edit" %>
                                <% end %>
                            </span>
                        <% end %>
                        <% if post.anonymous != true %><span class="dott">.</span><% end %>
                        <%= form_for post, method: :delete, remote: true do |f| %>
                        
                            <% f.submit 'delete post', class: "delete-post-submit" %>
                        <% end %>
                        <% end %>
                        
                        <div class="share-buttons">
                            <span class="share-word">Share</span>
                            <a class="facebook customer share" href="http://www.facebook.com/sharer.php?u=https://drolle-3-malekzalfana.c9users.io<%= url_for(post) %>" title="Facebook" target="_blank"><img src="http://i.imgur.com/D87RBjw.png"></a>
                            <a class="twitter customer share" href="http://twitter.com/share?url=https://drolle-3-malekzalfana.c9users.io<%= url_for(post) %>&amp;<%= post.title %> &amp;hashtags=drolle" title="Twitter" target="_blank"><img src="http://i.imgur.com/d7WTVVP.png"></a>
                            <a class="google_plus customer share" href="https://plus.google.com/share?url=https://drolle-3-malekzalfana.c9users.io<%= url_for(post) %>" title="Google Plus" target="_blank"><img src="http://i.imgur.com/NGKECtL.png"></a>
                            <a class="customer share" href="http://www.reddit.com/submit?url=https://drolle-3-malekzalfana.c9users.io<%= url_for(post) %>&title=<%= post.title %>" target="_blank"><img src="http://i.imgur.com/wS2UoLP.png"></a>
                        </div>
                    </div>
                
            </div>
            
            <div class="middle-wrapper">
                <div class="comments-wrapper" id="comments-wrapper-<%= post.id %>">
                <% if current_user %>
                    <%= form_for [post, post.comments.new], html: {multipart: true}, remote: true do |f| %>
                      <div class="form-group comment-form" id="form-<%= post.id %>">
                        <%= f.text_area :body, class: 'post-comment-body', "data-gramm_editor" => "false", placeholder: "Comment on this post..", id: "comment-textarea"%>
                        <input class="base64-make" type="hidden" value="" name="base64"/>
                        <img src="" class="base64-image">
                        <div class="comment-html post-comment-body-2 post-comment-body" data-gramm-editor="false" contentEditable="true"></div>
                        <div class="right-comment-wrapper">
                            <div class="cancel-meme hidden-imp">Cancel</div>
                            <%= f.submit 'post', class: 'post-comment', name: 'post' %>
                            <div class="memes-emojis"><span class="make-meme">meme</span></div>
                        </div>
                        
                      </div>
                        
          </div>
          <% end %>
          <% else %>
                    <p class="commentig-notice">You have to be signed in to comment</p>
                <% end %>
            </div>
            
            <div id="right-wrapper-<%= post.id %>" class="right-wrapper hidden">
                <br>
                <div class="loading-quarter-circle-4"></div>
                <div class="loading-quarter-circle-3"></div>
            </div>
        </div><!-- right-wrapper -->
    <% end %>
    <% end %>
    
    
    
    <script>
    
        <% if user_signed_in? %>
            console.log(<%= @p1 %>)
            console.log(<%= @p2 %>)
            console.log(<%= @p3 %>)
            console.log(<%= @p4 %>)
            
        <% else %>
        $('.progress').hide()
        <% end %>
    
    </script>

</div>
</body>