<body id="<%= controller.action_name %>">
    <% if @user == current_user %>
        <%= form_for current_user, :html => { :multipart => true , :class => 'hidden' },:url => url_for(:controller => 'pages', :action => 'checkUsername', :user_id => current_user.id ), :method => "get" , remote: true  do |f| %>
            <%= f.text_field :name, :value => @user.username, :id => 'username-check-field' %>
            <%= f.submit "Save", id: 'username-check-submit'%>
        <% end %>
    <% end %>
    
    <%= render '/layouts/activities' %>
    <div id="overlay-under-notif"></div>
<div id="cover-photo" class="<%= if user_signed_in? && current_user == @user then 'no-bio' end %>">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <div class="hidden">
        <%= f.file_field :image, id: "edit-profile-image-field", :onchange => "previewProfileImage(event)" %>
      </div>
      <div class="hidden">
          <%= f.text_field :bio, :value => @user.bio, id: "profile-bio-field" %>
      </div>
      <div class="hidden">
          <%= f.text_field :username, :value => @user.username, id: "profile-username-field" %>
      </div>
      <div class="hidden">
        <%= f.file_field :cover, id: 'edit-profile-cover-field', :onchange => "previewProfileCover(event)" %>
      </div>
    
      <div class="actions hidden-imp">
        <%= f.submit "Update", id: 'save-profile-field' %>
      </div>
    <% end %>
    <div id="profile-under-overlay" style="background-image: url(<%= if (@user.cover.url == "missing-2.jpg") then "/assets/" end %><%= @user.cover.url(:medium) %>)" ></div>
    <div id="profile-overlay"></div>
    <div id="profile-account-id-wrapper">
    <% if @user.image.url == "missing.jpg" %>
        <div id="profile-photo" style="background-image: url(/assets/<%= @user.image.url(:thumb) %>)"><i class="material-icons fadeInUp animated-fast" id="edit-profile-image">edit</i></div>
    <% else %>
        <div id="profile-photo" style="background-image: url(<%= @user.image.url(:medium) %>)"><i class="material-icons fadeInUp animated-fast" id="edit-profile-image">edit</i></div>
    <% end %>
    <h2 id="username-profile-big"><%= @username %></h2>
    <i class="material-icons" id="username-check-icon">check_circle</i>
    </div>
    <p id="username-profile"><%= @user.bio unless @user.bio.blank? %></p>
    <i class="material-icons fadeInUp animated-fast" id="edit-profile-cover">edit</i>
</div>
<div id="content-profile">
    <div id="profile-info">
            <i id="cancel-edit-profile" class="material-icons">clear</i>
            <div id="save-profile"><i class="material-icons">done</i></div>
            <% if @user == current_user %>
            <i class="material-icons" id="edit-profile">edit</i>
            <% end %>
            <% if user_signed_in? && @user == current_user %><a href="/settings"><i id="setting-button" class="material-icons">settings</i></a><% end %>
            <%= render '/layouts/follow_button', :user => User.find_by_username(params[:id]) %>
            <h2 id="posts-number"><%= @user.posts.count %> Posts</h2>
            <h2 id="upvotes-number"><%= @user.following.count %> Following</h2>
            <h2 id="upvotes-number"><%= @user.followers.count %> Followers</h2>
        </div>
    <div id="profile-titles">
        <span class="selected-profile-posts profile-tabs" id="profile-posts">Posts</span><span class="profile-tabs" id="profile-favors">Favorites</span>
    </div>
    <div id="left-content-profile"  class="transitions-enabled centered clearfix masonry">
        <%= will_paginate @profilepost %>
        <% if @user.posts.count == 0 %>
            <div class="notice-message-fixed"><%= @user.username %> hasn't posted anything yet.</div>
        <% else %>
        <% @profilepost.each do |x| %>
            <%= link_to(x) do %>
            <div class="wrapper">
                <div class="wrapper-content">
                
                <% if !x.imageaddress.blank? %><img src="<%= x.image2.url(:medium) %>" class="profile-post" alt="<%= x.title %>"><% end %>
                <% if x.image.present? %><img src="<%= x.image.url(:medium) %>" class="profile-post" alt="<%= x.title %>"><% end %>
                <% if !x.giphyid.blank? %><img class="profile-post" src="https://media2.giphy.com/media/<%= x.giphyid %>/giphy.gif"><% end %>
                
                <h2 class="post-title"><%= x.title %></h2>
                <div class="profile-post-options">
                    <span class="post-votes-word"><%=  x.get_upvotes.size - x.get_downvotes.size %> points</span>
                    <%= link_to dislike_post_path(x), method: :put, class: 'down downvote', :"data-post-id" => x.id, remote: true  do %>
                    <% end %>
                    <%= link_to like_post_path(x), method: :put, class: 'up upvote', :"data-post-id" => x.id, remote: true  do %>
                    <% end %>
                </div>
                </div>
                
            </div>
            <% end %>
        <% end %>
    <% end %>
    </div>
    <div id="right-content-profile">
        <%= will_paginate @profilefavor %>
        <% if !@user.votes.where(:vote_scope => 'favor').for_type(Post).votables.blank? %>
        <% @profilefavor.each do |x| %>
            <%= link_to(x) do %>
            <div class="wrapper">
                <div class="wrapper-content">
                
                <img class="profile-post" src="<%= x.image.url(:medium) %>)"  alt="<%= x.title %>>
                <h2 class="post-title"><%= x.title %></h2>
                <div class="profile-post-options">
                    <span class="post-votes-word"><%=  x.get_upvotes.size - x.get_downvotes.size %> points</span>
                    <%= link_to dislike_post_path(x), method: :put, class: 'down downvote', :"data-post-id" => x.id, remote: true  do %>
                    <% end %>
                    <%= link_to like_post_path(x), method: :put, class: 'up upvote', :"data-post-id" => x.id, remote: true  do %>
                    <% end %>
                </div>
                </div>
                
            </div>
            <% end %>
        <% end %>
        <% else %>
        <div class="notice-message-fixed"><%= @user.username %> hasn't favoured anything yet.</div>
        <% end %>
    </div>
</div>


<% if !user_signed_in? %>
    <div id="remote-invite-wrapper">
        <i class="material-icons close-wrapper">close</i>

    <div id="invite-buttons-wrapper">
            <label id="invite-tab-1" class="invite-tab active-invite-tab">Log in</label>
            <label id="invite-tab-2"class="invite-tab">Sign up</label>
        
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:id => "invite-2"} ) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <span id="att-before-username">@</span>
    <%= f.text_field :username, autofocus: true, id:"sign-up-username-field", placeholder: "Username" %>
    <i class="material-icons" id="username-check-icon">check_circle</i>
  </div>
  
  <div class="field">
    <%= f.email_field :email, autofocus: true, id: "email-field-settings", placeholder: "Email" %>
    <i class="material-icons" id="email-check-icon">check_circle</i>
  </div>

  <div class="field passwords">
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
    <%= f.password_field :password, autocomplete: "off", placeholder:"Password"  %>
  </div>

  <div class="field passwords">
    <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirm Password" %>
  </div>
  <%= f.check_box :pro, checked: false, class: "hidden" %>

  <div class="actions">
    <%= f.submit "Sign up", class: "hidden submit-invite", id: "sign-up-submit" %>
    <button type="button" id="sign-up-submit-before" class="invite-submit">Sign up</button>
  </div>
<% end %>
    
    
    
        <%= form_for(:user, :url => session_path(:user), :html => {:id => "invite-1"}) do |f| %>
        
            
            
          <div class="field">
            <%= f.email_field :email, placeholder: "Email" %>
          </div>
        
          <div class="field">
            <%= f.password_field :password, autocomplete: "off", placeholder: "Password" %>
          </div>
        
          <% if devise_mapping.rememberable? -%>
            <div class="field" id="remember-me-button">
              <%= f.check_box :remember_me, checked: "true"%>
              <%= f.label :remember_me %>
            </div>
          <% end -%>
        
          <div class="actions">
            <%= f.submit "Log in", class: "invite-submit" %>
          </div>
          <div id="other-log-in">
            <!--<%# render "devise/shared/links" %>
            <a href="#">Continue as guest</a>
            <a href="#" class="separator">-</a>
            -->
            <a href="/users/password/new">Forgot passowrd</a>
          </div>
        <% end %>
    </div>


<% end %>

</body>