<div id="cover-photo">
    <div id=profile-photo></div>
    <h2 id="username-profile"><%= @username %></h2>
    <h2 id="posts-number"><%= current_user.posts.count %> Posts</h2>
    <h2 id="upvotes-number"><%= current_user.posts.get_upvotes.size %> added</h2>
</div>
<div id="content">
    <% @post.each do |x| %>
        <div class="wrapper">
            <h2 class="post-title"><%= x.title %></h2>
            <%= image_tag x.image.url(:medium), :class => "post-image" %>
        </div>
    <% end %>
</div>
