<% if !user_signed_in? %>
<body id="<%= controller.action_name %>">	
<div id="log-in-wrapper">
  <h2>Log in</h2>

<%= form_for(:user, :url => session_path(:user)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field" id="remember-me-button">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
  <div id="other-log-in">
    <%= render "devise/shared/links" %>
  </div>
<% end %>


</div>
</body>
	
<% else %>
<body id="settings" class="<% if user_signed_in? %> signed-in<% else %> not-signed-in<% end %>  <%= if request.original_url.include?('?app=true') then 'app' end %>">
  <% if request.original_url.include?('?app=true') %>
  <a href="/reprofile/?app=true">
    <i id="app-back-button" class="material-icons">arrow_back</i>
  </a>
  <% end %>
  
    <div class="container">
</div>
    <%= form_for current_user, :html => { :multipart => true , :class => 'hidden' },:url => url_for(:controller => 'pages', :action => 'checkUsername', :user_id => current_user.id ), :method => "get" , remote: true  do |f| %>
        <%= f.text_field :name, :value => @user.username, :id => 'username-check-field' %>
        <%= f.submit "Save", id: 'username-check-submit', class: "settings-save"%>
    <% end %>
    <%= form_for current_user, :html => { :multipart => true , :class => 'hidden' },:url => url_for(:controller => 'pages', :action => 'checkEmail', :user_id => current_user.id ), :method => "get" , remote: true  do |f| %>
        <%= f.text_field :email, :value => @user.email, :id => 'email-check-field' %>
        <%= f.submit "Save", id: 'email-check-submit'%>
    <% end %>
<div id="settings-wrapper">
    <h2 id="settings-title">Settings<% if current_user.pro == true %><span id="settings-pro">PRO</span><% end %></h2>
    <div id="settings-options">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                  <%= devise_error_messages! %>
        
        <div id="settings-night" class="settings-option-wrapper">
            <span>Dark Mode</span>
            <div class="checkbox-wrapper">
                <div class="checkbox">
                    <% if current_user.nightmode === true%>
                        <%= f.check_box :nightmode, checked: true %>
                    <% else %>    
                        <%= f.check_box :nightmode, checked: false %>
                    <% end %>
                    <label></label>
                </div>    
            </div>
        </div>
        
        <div id="settings-sound" class="settings-option-wrapper">
            <span>Notification Sound</span>
            <div class="checkbox-wrapper">
                <div class="checkbox">
                    <% if current_user.notificationsound === true%>
                        <%= f.check_box :notificationsound, checked: true %>
                    <% else %>    
                        <%= f.check_box :notificationsound, checked: false %>
                    <% end %>
                    <label></label>
                </div>    
            </div>
        </div>
        
        <div id="settings-account" class="settings-option-wrapper">
            <span>Manage Account</span>
            <div id="settings-option-more">
                
                
                  <div class="field">
                    <%= f.label :username %>
                    <%= f.text_field :username, :value => @user.username, :id => 'username-field-settings' %>
                    <i class="material-icons" id="username-check-icon">check_circle</i>
                  </div>
                        
                        
                <div class="field">
                    <%= f.label :bio %>
                    <%= f.text_field :bio, :value => @user.bio %>
                  </div>
                                    
                  <div class="field">
                    <%= f.label :email %>
                    <%= f.email_field :email, :value => @user.email, :id => 'email-field-settings', :autocomplete => :off  %>
                    <i class="material-icons" id="email-check-icon">check_circle</i>
                  </div>
                  
                  <div class="field">
                    <%= f.label :share %>
                    <%= f.text_field :share, class: "hidden", id: "share-buttons-field" %>
                    <span id="share-buttons-settings">
                        <div <% if current_user.share == '0' || current_user.share == nil %>class="chosen"<% end %> id="0">all</div>
                        <span <% if current_user.share == '1' %>class="chosen"<% end %> id="1"><img src="http://i.imgur.com/D87RBjw.png"></span>
                        <span <% if current_user.share == '2' %>class="chosen"<% end %> id="2"><img src="http://i.imgur.com/d7WTVVP.png"></span>
                        <span <% if current_user.share == '3' %>class="chosen"<% end %> id="3"><img src="http://i.imgur.com/NGKECtL.png"></span>
                        <span <% if current_user.share == '4' %>class="chosen"<% end %> id="4"><img src="http://i.imgur.com/wS2UoLP.png"></span>
                    </span>
                    
                  </div>
                  
                  <div id="more-settings-options-wrapper">
                      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                      <% end %>
                    
                      <div class="field">
                        <label>New Password</label>
                        <%= f.password_field :password, autocomplete: "off", id: "new-password-field" %>
                      </div>
                    
                      <div class="field">
                        <%= f.label :password_confirmation %>
                        <%= f.password_field :password_confirmation, autocomplete: "off" %>
                      </div>
                      <%= f.submit "Save", id: "save-settings", class: "hidden" %>
                      
                  </div>
                
                    <i id="more-settings-options-button" class="material-icons">expand_more</i>
                    <i id="less-settings-options-button" class="material-icons">expand_less</i>
                
                    
                
                
            </div>
        </div>
        
        <div id="settings-themes" class="settings-option-wrapper hidden">
            <span>Themes</span>
            <div class="settings-option-more">
                
            </div>
        </div>
        
        <% if current_user.pro == (false || nil) %>
        <div>Upgrade to <span id="settings-pro" >PRO</span></div>
        <% end %>
        <div id="settings-logout" class="settings-option-wrapper">
            <%= link_to('Log Out', destroy_user_session_path, :method => :delete, class: "settings-logout") %>
            <span id="save-settings-before">Save</span>
        </div>
        <% end %>
    </div>
</div>
</body>

<% end %>