<body class="<%= if request.original_url.include?('?app=true') then 'app' end %>">
<div id="main-page-type" class="tags">
    <div id="back-clicker">
            <i class="material-icons" id="back-list">arrow_back</i>
            <a href="/recent"><h2 class="tag-title-before" >Recent</h2></a>
            <h2 class="tag-title-slash" >/</h2>
            <a href="/tags"><h2 class="tag-title" >Tags</h2></a>
        </div>
    </div>
<div id="tags-wrapper-2">
    
    <a data-name="Memes" href="tags/memes<%= if request.original_url.include?('?app=true') then '?app=true' end %>">
        <div id="tag-memes" class="tags-tag"><p class="tags-tag-title">memes</p></div>
    </a>
    
    <a data-name="Gaming" href="tags/gaming<%= if request.original_url.include?('?app=true') then '?app=true' end %>">
        <div id="tag-gaming" class="tags-tag"><p class="tags-tag-title">gaming</p></div>
    </a>
    
    <a data-name="Reaction" href="tags/reaction<%= if request.original_url.include?('?app=true') then '?app=true' end %>">
        <div id="tag-reaction" class="tags-tag"><p class="tags-tag-title">reaction</p></div>
    </a>
    <a data-name="Wtf" href="tags/wtf<%= if request.original_url.include?('?app=true') then '?app=true' end %>">
        <div id="tag-wtf" class="tags-tag"><p class="tags-tag-title">wtf</p></div>
    </a>
    <a data-name="Cute" href="tags/cute<%= if request.original_url.include?('?app=true') then '?app=true' end %>">
        <div id="tag-cute" class="tags-tag"><p class="tags-tag-title">cute</p></div>
    </a>
    <a data-name="" href="tags/politics<%= if request.original_url.include?('?app=true') then '?app=true' end %>">
        <div id="tag-politics" class="tags-tag"><p class="tags-tag-title">politics</p></div>
    </a>
    <a data-name="" href="tags/happy<%= if request.original_url.include?('?app=true') then '?app=true' end %>">
        <div id="tag-happy" class="tags-tag"><p class="tags-tag-title">happy</p></div>
    </a>
    <a data-name="" href="tags/sports<%= if request.original_url.include?('?app=true') then '?app=true' end %>">
        <div id="tag-sports" class="tags-tag"><p class="tags-tag-title">sports</p></div>
    </a>
    
    <a data-name="Food" href="tags/food<%= if request.original_url.include?('?app=true') then '?app=true' end %>">
        <div id="tag-food" class="tags-tag"><p class="tags-tag-title">food</p></div>
    </a>
    <a data-name="Photoshopped" href="tags/photoshopped<%= if request.original_url.include?('?app=true') then '?app=true' end %>">
        <div id="tag-photoshopped" class="tags-tag"><p class="tags-tag-title">photoshopped</p></div>
    </a>
    <a data-name="Opinion" href="tags/opinion<%= if request.original_url.include?('?app=true') then '?app=true' end %>">
        <div id="tag-opinion" class="tags-tag"><p class="tags-tag-title">opinion</p></div>
    </a>
    <a data-name="Animated" href="tags/animated<%= if request.original_url.include?('?app=true') then '?app=true' end %>">
        <div id="tag-animated" class="tags-tag"><p class="tags-tag-title">animated</p></div>
    </a>
    <a data-name="Gif" href="tags/gif<%= if request.original_url.include?('?app=true') then '?app=true' end %>">
        <div id="tag-gif" class="tags-tag"><p class="tags-tag-title">gif</p></div>
    </a>
    <a data-name="Awesome" href="tags/awesome<%= if request.original_url.include?('?app=true') then '?app=true' end %>">
        <div id="tag-awesome" class="tags-tag"><p class="tags-tag-title">awesome</p></div>
    </a>
    
    
    
</div>

<% if !user_signed_in? %>
    <div id="remote-invite-wrapper">
        <i class="material-icons close-wrapper">close</i>

    <div id="invite-buttons-wrapper">
            <label id="invite-tab-1" class="invite-tab active-invite-tab">Log in</label>
            <label id="invite-tab-2"class="invite-tab">Sign up</label>
        
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:id => "invite-2"} ) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <span id="att-before-username">@</span>
    <%= f.text_field :username, autofocus: true, id:"sign-up-username-field", placeholder: "Username" %>
    <i class="material-icons" id="username-check-icon">check_circle</i>
  </div>
  
  <div class="field">
    <%= f.email_field :email, autofocus: true, id: "email-field-settings", placeholder: "Email" %>
    <i class="material-icons" id="email-check-icon">check_circle</i>
  </div>

  <div class="field passwords">
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
    <%= f.password_field :password, autocomplete: "off", placeholder:"Password"  %>
  </div>

  <div class="field passwords">
    <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirm Password" %>
  </div>
  <%= f.check_box :pro, checked: false, class: "hidden" %>

  <div class="actions">
    <%= f.submit "Sign up", class: "hidden submit-invite", id: "sign-up-submit" %>
    <button type="button" id="sign-up-submit-before" class="invite-submit">Sign up</button>
  </div>
<% end %>
    
    
    
        <%= form_for(:user, :url => session_path(:user), :html => {:id => "invite-1"}) do |f| %>
        
            
            
          <div class="field">
            <%= f.email_field :email, placeholder: "Email" %>
          </div>
        
          <div class="field">
            <%= f.password_field :password, autocomplete: "off", placeholder: "Password" %>
          </div>
        
          <% if devise_mapping.rememberable? -%>
            <div class="field" id="remember-me-button">
              <%= f.check_box :remember_me, checked: "true"%>
              <%= f.label :remember_me %>
            </div>
          <% end -%>
        
          <div class="actions">
            <%= f.submit "Log in", class: "invite-submit" %>
          </div>
          <div id="other-log-in">
            <!--<%# render "devise/shared/links" %>
            <a href="#">Continue as guest</a>
            <a href="#" class="separator">-</a>
            -->
            <a href="/users/password/new">Forgot passowrd</a>
          </div>
        <% end %>
    </div>


<% end %>
</body>