<% @profilepost.each do |x| %>
    <%= link_to(x) do %>
    <div class="wrapper">
                <div class="wrapper-content">
                
                <% if !x.imageaddress.blank? %><img src="<%= x.image2.url(:medium) %>" class="profile-post" alt="<%= x.title %>"><% end %>
                <% if x.image.present? %><img src="<%= x.image.url(:medium) %>" class="profile-post" alt="<%= x.title %>"><% end %>
                <% if !x.giphyid.blank? %><img class="profile-post" src="https://media2.giphy.com/media/<%= x.giphyid %>/giphy.gif"><% end %>
                <h2 class="post-title"><%= x.title %></h2>
                <div class="profile-post-options">
                    <span class="post-votes-word"><%=  x.get_upvotes.size - x.get_downvotes.size %> points</span>
                    <%= link_to dislike_post_path(x), method: :put, class: 'down downvote', :"data-post-id" => x.id, remote: true  do %>
                    <% end %>
                    <%= link_to like_post_path(x), method: :put, class: 'up upvote', :"data-post-id" => x.id, remote: true  do %>
                    <% end %>
                </div>
                </div>
                
            </div>
    <% end %>
<% end %>