<body id="<%= controller.action_name %>" class="<% if user_signed_in? %> signed-in<% else %> not-signed-in<% end %>">
    <%= render '/layouts/activities' %>
    <div id="overlay-under-notif"></div>
    <div id="loading-wrapper">
        <div class="loading-quarter-circle-2"></div>
    </div>
    <div class="messages-container">
        <div class="notice-message"></div><span class="notice"><%= notice %></span>
        <span class="alert"><%= alert %></span>
    </div>
    <i class="material-icons" id="hide-remote-make">clear</i>
    <div id="content-full2">
        <div id="main-page-type">
            <i class="material-icons" id="back-list">arrow_back</i>
            <%= link_to '<span id="recent-type" class="active-type">Recent</span>'.html_safe, '/recent' %>
            
            <i class="material-icons" id="next-post-icon">navigate_next</i>
            <i class="material-icons" id="prev-post-icon">navigate_before</i>
        </div>
        <div class="upper-black"></div>
        <div class="wrapper shown" data-post-id="<%= @post.id %>">
            
            <div class="left-wrapper">
            
            <div class="post-image-wrapper">
                <% if user_signed_in? %>    
                <div class="post-more-button <%= if current_user.voted_on? @post, vote_scope: 'report' then 'reported' elsif current_user.voted_on? @post, vote_scope: 'favor' then 'favorited' end %>">
                            <%= link_to dislike_post_path(@post, :report => true), method: :put, class: 'report-post', title: 'Report this post', :"data-post-id" => @post.id, remote: true  do %><i class="reported-post material-icons">report</i><% end %>
                            <%= link_to like_post_path(@post, :favor => true), method: :put, class: 'favor-post', title: 'Add to favorites', :"data-post-id" => @post.id, remote: true  do %><i class="material-icons favorite-post">favorite</i><% end %>
                </div>
                <% end %>
                <img data-original="<%= @post.image.url(:large) %>" class="post-image">
            </div>
            
                <div class="voting-wrapper">
                    <span class="post-votes count" data-post-id="<%= @post.id %>" data-votes="<%=  @post.get_upvotes.size - @post.get_downvotes.size %>">
                    <%=  @post.get_upvotes.size - @post.get_downvotes.size %></span><span class="post-votes-word"> upvotes</span>
                    <div class="comment-button-wrapper"><div class="comment-button"></div></div>
                    <%= link_to dislike_post_path(@post), method: :put, class: 'down downvote', :"data-post-id" => @post.id, remote: true  do %>
                    <% end %>
                    <%= link_to like_post_path(@post), method: :put, class: 'up upvote', :"data-post-id" => @post.id, remote: true  do %>
                    <% end %>
                </div>
                <% if !@post.title.blank? %><div class="post-title"><%= @post.title %></div><% end %>
                <div class="post-footer">
                <% if @post.anonymous != true %>
                        <a href="/user/<%= @post.user.username%>">
                            <% if @post.user.image.url == "missing.jpg" %>
                                    <div class="post-footer-user-image" style="background-image: url(/assets/<%= @post.user.image.url(:thumb) %>)"></div>
                              <% else %>
                                    <div class="post-footer-user-image" style="background-image: url(<%= @post.user.image.url(:medium) %>)"></div>
                              <% end %>
                            <span class="post-footer-user-name"><%= @post.user.username %></span>
                        </a>
                    <% else %>
                        <span class="post-footer-user-name anonymous-name">Anonymous</span>
                    <% end %>
                    <i class="material-icons post-options">more_vert</i>
                    <i class="material-icons comment-button">chat_bubble</i>
                    
                    
                    
                    <% if (user_signed_in?) && (current_user.voted_down_on?@post) %>
                        <%= link_to dislike_post_path(@post), method: :put, class: 'down downvote downvoted voted', :"data-post-id" =>@post.id, remote: true  do %><% end %>
                    <% elsif (user_signed_in?) && !(current_user.voted_down_on?@post) && !(current_user.voted_up_on?@post)  %>
                        <%= link_to dislike_post_path(@post), method: :put, class: 'down downvote downvote vote', :"data-post-id" => @post.id, remote: true  do %><% end %>
                    <% elsif (user_signed_in?) && !(current_user.voted_down_on? @post) && (current_user.voted_up_on? @post) %>
                        <%= link_to dislike_post_path(@post), method: :put, class: 'down downvote downvote vote not-voted', :"data-post-id" => @post.id, remote: true  do %><% end %>
                    <% else %>
                        <span class="down downvote vote"></span>
                    <% end %>
                    
                    <% if (user_signed_in?) && (current_user.voted_up_on? @post) %>
                        <%= link_to like_post_path(@post), method: :put, class: 'up upvote vote voted', :"data-post-id" => @post.id, remote: true  do %><% end %>
                    <% elsif (user_signed_in?) && !(current_user.voted_up_on? @post) && !(current_user.voted_down_on? @post)  %>                            
                        <%= link_to like_post_path(@post), method: :put, class: 'up upvote vote upvote', :"data-post-id" => @post.id, remote: true  do %><% end %>
                    <% elsif (user_signed_in?) && !(current_user.voted_up_on? @post) && (current_user.voted_down_on? @post) %>                            
                        <%= link_to like_post_path(@post), method: :put, class: 'up upvote vote upvote not-voted', :"data-post-id" => @post.id, remote: true  do %><% end %>
                    <% else %>
                        <span class="up upvote vote"></span>
                    <% end %>
                        
                    <% if user_signed_in? %>
                        <span class="post-votes-word" data-points="<%= @post.get_upvotes.size - @post.get_downvotes.size - if current_user.voted_up_on? @post then 1 elsif current_user.voted_down_on? @post then -1 else 0 end %>" data-user-votes="<%= if current_user.voted_up_on? @post then 1 elsif current_user.voted_down_on? @post then -1 else 0 end %>"><%=  @post.get_upvotes.size - @post.get_downvotes.size %> points</span>
                    <% else %>
                        <span class="post-votes-word" data-points="<%= @post.get_upvotes.size - @post.get_downvotes.size %>" data-user-votes="0"><%=  @post.get_upvotes.size - @post.get_downvotes.size %> points</span>
                        
                    <% end %>
                    
                </div>
                </div>
            
            
            <div class="middle-wrapper">
                <div class="comments-wrapper" id="comments-wrapper-<%= @post.id %>">
                <% if user_signed_in? %>
                    <%= form_for [@post, @post.comments.new], html: {multipart: true}, remote: true do |f| %>
                      <div class="form-group comment-form" id="form-<%= @post.id %>">
                        <%= f.text_area :body, class: 'post-comment-body', "data-gramm_editor" => "false", placeholder: "Comment on this post..", id: "comment-textarea"%>
                        <input id="base64-make" type="hidden" value="" name="base64"/>
                        <img src="" id="base64-image">
                        <div id="comment-html" class="post-comment-body-2 post-comment-body" data-gramm-editor="false" contentEditable="true"></div>
                        <div class="right-comment-wrapper">
                            <div id="cancel-meme" class="hidden-imp">Cancel</div>
                            <%= f.submit 'post', class: 'post-comment', name: 'post' %>
                            <div class="memes-emojis"><span class="make-meme">m</span></div>
                        </div>
                        
                      </div>
                        <div class="reactions-container">
                            <div class="reactions-tabs-wrapper">
                                <span class="reactions-tab active-reactions-tab">Memes</span>    
                                <span class="reactions-tab">GIFs</span>
                                <span class="reactions-tab">Emojis</span>
                            </div>
                            <img class="emoji-img" id="1" src="http://droll-cloned-malekzalfana.c9users.io/assets/emojis/emoji1.png">
                            <img class="emoji-img" id="2" src="http://droll-cloned-malekzalfana.c9users.io/assets/emojis/emoji3.png">
                            <img class="emoji-img" id="3" src="http://droll-cloned-malekzalfana.c9users.io/assets/emojis/emoji1.png">
                            <img class="emoji-img" id="4" src="http://droll-cloned-malekzalfana.c9users.io/assets/emojis/emoji2.png">
                            <img class="emoji-img" id="5" src="http://droll-cloned-malekzalfana.c9users.io/assets/emojis/emoji3.png">
                            <img class="emoji-img" id="6" src="http://droll-cloned-malekzalfana.c9users.io/assets/emojis/emoji2.png">
                            
            </div>
            <% end %>
            <% else %>
            <p class="not-signed-in-comment">You need to be signed in to comment</p>
            <% end %>
          </div>
            </div>
            <div class="right-wrapper">
            <br>
            <span class="comments-big-title">Comments</span>
                
            <% if @comment.blank? %>
                <p class="no-comments">No one commented yet</p>
            <% else %>
                <%= render @comment  %>
            <% end %>
            <%# render :partial => 'posts/comment', :collection => @post.comments %>
            </div> <!-- vote-comment -->
        </div><!-- right-wrapper -->
        </div><!--  wrapper -->
        </div>
    </div>
    <% if @post.comments.count > 35 %>
    
    <div class="comment-pagination"><%= will_paginate @comment %></div>
    <% end %>
        <script>
            $(".post-image").lazyload({
                event: 'load',
                threshold: '200'
            });
        </script>
        <link href="https://fonts.googleapis.com/css?family=Schoolbell" rel="stylesheet">
        
        
        
        </body>