<nav id="navbar" class="<%= if user_signed_in? &&  current_user.passed.nil? then "not-passed" end %>">
	<div class="link2" onClick="window.location.href = '/' ">
    	<div id="logo-wrapper">
    	</div>
        <div id="new-logo">drolle<a href="/trends" target="_blank" class="nav-link not-link"><div class="trends-logo-3"></div>Trends</a><a href="/new-posts" target="_blank" class="nav-link not-link"><i class="material-icons">access_time</i>New Posts</a></div>
        </div>
</div>
    <div id="menu-button-wrapper"><i class="material-icons" id="menu-button">menu</i></div>
    <div id="nav-icons-wrapper">
        <% if !current_user.username.nil? %>
            <div id="notification-icon"><i class="material-icons" id="notification-icon-bell">notifications_none</i><span id="notif-number"></span></div>
        <% end %>
        <a href="/user/<%= current_user.username %>"><p id="username"><%= if current_user.username.nil? then 'profile' else current_user.username end%></p></a>
        <!--<form id="demo-2">
    	    <input id="search-icon" type="search" placeholder="Search">
        </form>-->
        <a href="/user/<%= current_user.username %>" class="<%= if user_signed_in? &&  current_user.passed.nil? then "no-pointers" end %>">
        <% if current_user.image.url != "missing.jpg" %>
            <span id="profile-photo-small" style="background-image: url(<%= current_user.image.url(:medium) %>)"></span>
        <% else %>
            <% if user_signed_in? &&  current_user.username.nil? %>
                <% if current_user.pic.nil? %>
                  <div id="profile-photo-small" style="background-image: url(/assets/<%= current_user.image.url(:thumb) %>)"><i class="material-icons">lock_outline</i></span></div>
                <% else %>
                  <div id="profile-photo-small" style="background-image: url(http://drolle.net/profilepics/pic<%= current_user.pic %>.jpg)"><i class="material-icons">lock_outline</i></span></div>
                <% end%>
                <% else %>
                <% if current_user.pic.nil? %>
                  <div id="profile-photo-small" style="background-image: url(/assets/<%= current_user.image.url(:thumb) %>)"><i class="material-icons">lock_outline</i></span></div>
                <% else %>
                  <div id="profile-photo-small" style="background-image: url(http://drolle.net/profilepics/pic<%= current_user.pic %>.jpg)"><i class="material-icons">lock_outline</i></span></div>
                <% end%>
                <% end %>
        <% end %>
    </a>

    </div>

</nav>