<nav id="navbar" class="<%= if user_signed_in? &&  current_user.username.nil? then "not-passed" end %>">
    <span id="alpha">ALPHA</span>
    <div class="link2" onClick='window.location.href = "/" '>
    	<div id="logo-wrapper">
    	</div>
        <div id="new-logo">drolle</div>
        </div>

    <div id="nav-icons-wrapper">
        <div id="menu-button-wrapper"><i class="material-icons" id="menu-button">menu</i></div>
        <% if !current_user.username.nil? %>
            <div id="notification-icon"><i class="material-icons" id="notification-icon-bell">notifications_none</i><span id="notif-number"></span></div>
            <a href="/make"><i id="add-icon" class="material-icons">add</i></a>
        <% end %>


    <a href="/user/<%= current_user.username %>"><p id="username"><%= if current_user.username.nil? then 'profile' else current_user.username end%></p></a>
    <% if controller.action_name != 'profile' %>
    <form id="demo-2">
	    <input id="search-icon" type="search" placeholder="Search">
    </form>
    <% end %>
    <a href="/user/<%= current_user.username %>" class="<%= if user_signed_in? &&  current_user.passed.nil? then "no-pointers" end %>">
        <% if current_user.image.url != "missing.jpg" %>
            <span id="profile-photo-small" style="background-image: url(<%= current_user.image.url(:medium) %>)"></span>
        <% else %>
            <% if user_signed_in? &&  current_user.username.nil? %>
                <% if current_user.pic.nil? %>
                  <div id="profile-photo-small" style="background-image: url(/assets/<%= current_user.image.url(:thumb) %>)"><i class="material-icons">lock_outline</i></span></div>
                <% else %>
                  <div id="profile-photo-small" style="background-image: url(http://drolle.net/profilepics/pic<%= current_user.pic %>.jpg)"><i class="material-icons">lock_outline</i></span></div>
                <% end%>
                <% else %>
                <% if current_user.pic.nil? %>
                  <div id="profile-photo-small" style="background-image: url(/assets/<%= current_user.image.url(:thumb) %>)"><i class="material-icons">lock_outline</i></span></div>
                <% else %>
                  <div id="profile-photo-small" style="background-image: url(http://drolle.net/profilepics/pic<%= current_user.pic %>.jpg)"><i class="material-icons">lock_outline</i></span></div>
                <% end%>
                <% end %>
        <% end %>
    </a>
    </div>

    <%# link_to('Log Out', destroy_user_session_path, :method => :delete) %>
</nav>