<div id="nav-menu-wrapper" class="second">

    <i id="reset-make-settings" class="material-icons expand-trends">clear</i>

        <div id="trends-wrapper">
            <!--
            <p class="pick-tags-title-2">Type <span id="type-word">Meme</span>   Trend <span id="trend-word">/samirIsABoy</span> -->
            <% if user_signed_in? %>

            <p class="pick-tags-title-2"><span id="trend-word-2"></span><span id="trend-word-details"></span>
            <span class="to-hide-trend">

                <% if user_signed_in? &&  current_user.passed.nil? && current_user.posts.count == 1 %>
                <span id="trend-word-details-2">|</span>
                You cannot upload a post until you get accepted by a member.
                <% elsif user_signed_in? &&  current_user.passed.nil? && current_user.posts.count == 0 %>
                <span id="trend-word-details-2">|</span>
                You can only upload one post, until you become accepted by a member
                <% elsif user_signed_in? &&  current_user.passed.nil? && current_user.posts.count > 0 %>
                <span id="trend-word-details-2">|</span>
                You already uploaded a post, until you get accepted, you can only download your memes
                <% end %>
            </span>
            </p>
            <% else %>
                <p class="pick-tags-title-2">You are not signed..</p>
            <% end %>

            <% if user_signed_in? %>
            <p class="pick-tags-title">Welcome, <%= current_user.username %></p>
            <% else %>
            <p class="pick-tags-title">Welcome, guest</p>
            <% end %>
            <br>
      <p class="pick-tags-title">What are you making?</p>
      <div id="pick-type">
        <p data-name="memes">Meme</p>
        <% if user_signed_in? %>
            <p data-name="images">GIF</p>
        <% end %>
        <p data-name="rage-comics">Rage Comic<i class="material-icons hidden-imp">computer</i></p>
      </div>
      <% if user_signed_in? %>
      <br>
      <p class="pick-tags-title pick">Pick a trend<i class="refresh-trends material-icons">refresh</i></p>
      <div id="pick-trends-wrapper">
          <% @trendname.each do |trend| %>
          <div data-trendid="<%= trend.id %>" data-name="<%= trend.name %>" data-followers="<%=  unless trend.followers.nil? then trend.followers.size end %>" data-posts="<%= Post.where(trendid: trend.id).size %>" class="trend-container pick-trends">
              <span data-name="<%= trend.name %>" data-trendid="<%= trend.id %>" class="new">/<%= trend.name %></span>
              <div>
                  <% Post.where(trendid: trend.id).limit(4).each do |post| %>
                <% if !post.imageaddress.blank? %><img src="<%= post.image2.url(:medium) %>" class="post-trend-2" alt="<%= post.title %>"><% end %>
                <% if post.image.present? %><img src="<%= post.image.url(:medium) %>" class="post-trend-2" alt="<%= post.title %>"><% end %>
                <% if !post.giphyid.blank? %><img class="post-trend-2" src="https://media2.giphy.com/media/<%= post.giphyid %>/giphy.gif"><% end %>
              <% end %>

              </div>
              <span class="post-trend-2-number"><%= Post.where(trendid: trend.id).size %> Posts</span>
          </div>


      <% end %>
      <span class="trend-container add-trend">+</span>
      </div>
      <% end %>
      <p class="pick-tags-title new hidden">New Trend<i class="refresh-trends material-icons">refresh</i></p>
              <div id="pick-trends-wrapper-2">
                    <input data-name="" class="pick-trends new-trend" onDrop="return false" onPaste="return false" autocomplete=off>
              </div>
      <button id="continue-make">continue</button>

        <% if @trends.count >0 %>


        <% else %>
        <a data-name="random" href="trends/youtubeThumbnailsBeLike" class="pick-trends">/youtubeThumbnailsBeLike</a>
            <a data-name="random" href="trends/theDab" class="pick-trends">/theDab</a>
            <a data-name="random" href="trends/vineIsDead" class="pick-trends">/vineIsDead</a>
            <a data-name="random" href="trends/familyGatherings" class="pick-trends">/familyGatherings</a>
            <a data-name="random" href="trends/trumpetIsNowPresident" class="pick-trends">/trumpetIsNowPresident</a>
            <a data-name="random" href="trends/youtubeThumbnailsBeLike" class="pick-trends">/youtubeThumbnailsBeLike</a>
            <a data-name="random" href="trends/theDab" class="pick-trends">/theDab</a>
            <a data-name="random" href="trends/vineIsDead" class="pick-trends">/vineIsDead</a>
            <a data-name="random" href="trends/familyGatherings" class="pick-trends">/familyGatherings</a>
            <a data-name="random" href="trends/trumpetIsNowPresident" class="pick-trends">/trumpetIsNowPresident</a>
            <a href="/explore"><div id="toggle-pick-trends">Browse Trends<i class="material-icons">keyboard_arrow_right</i></div></a>
        <% end %>

        </div>

    </div>