<% if 1 == 1 %>

    <div id="box-6-wrapper" class="second mini">
        <p id="main-trends-title"><i class="material-icons hidden-imp">whatshot</i><span class="trends-logo"></span>Trends</p>
        <div id="search-trends"><i class="material-icons">search</i><textarea data-search placeholder="Search trends"></textarea></div>
        <P class="new-trends-soon">Follow trends to see their memes in your feed</P>
        <!--

            <div class="trend trend-parent waiter"><div class="waiter-title"></div><div class="waiter-details"></div><div class="waiter-images-wrapper"><div class="waiter-images"></div><div class="waiter-images"></div><div class="waiter-images"></div></div></div>
            <div class="trend trend-parent waiter"><div class="waiter-title"></div><div class="waiter-details"></div><div class="waiter-images-wrapper"><div class="waiter-images"></div><div class="waiter-images"></div><div class="waiter-images"></div></div></div>
            <div class="trend trend-parent waiter"><div class="waiter-title"></div><div class="waiter-details"></div><div class="waiter-images-wrapper"><div class="waiter-images"></div><div class="waiter-images"></div><div class="waiter-images"></div></div></div>
            <div class="trend trend-parent waiter"><div class="waiter-title"></div><div class="waiter-details"></div><div class="waiter-images-wrapper"><div class="waiter-images"></div><div class="waiter-images"></div><div class="waiter-images"></div></div></div>

            -->


    <% if 1 == 1 %>
    <div class="trend-holder">
        <%# @trends.count %>
        <% @alltrends.each do |trend| %>
            <div data-filter-item data-filter-name="<%= trend.name %>" class="<% if user_signed_in? && !current_user.trends.nil? && current_user.trends.tr('[]', '').split(',').map(&:to_i).include?(trend.id.to_i) %>followed<%else%>notfollowed<%end%> trend second trend-parent <%= if user_signed_in? && !current_user.trends.nil? && current_user.trends.split(',').include?(trend.id.to_s) then 'followed' end %>">
                <% if user_signed_in? %>
                <%= form_for current_user, :html => { :multipart => true , :class => 'hidden-imp trend-form' },:url => url_for(:controller => 'trends', :action => 'follow', :user_id => current_user.id ), :method => "get" , remote: true  do |f| %>
                    <%= f.text_field :trendid, :value => trend.id, :id => 'e' %>
                    <%= f.submit "Save", class: 'follow-trend-submit'%>
                <% end %>
                <% end %>
                <!--<a href="trends/<%= trend.name %>"></a>-->
                <div class="trend-last-image" style="background-image: url(<%= if Post.where(trendid: trend.id).where.not(image_content_type: nil).exists? then Post.where(trendid: trend.id).where.not(image_content_type: nil).last.image.url(:medium) end %>)"></div>
                <a href="/trends/<%= trend.name %>" target="_blank" class="not-link trend-link">
                  <p class="trend-name new">/<%= trend.name %><i class="material-icons">open_in_new</i>
                  </p>
                </a>
                <i class="material-icons trend-follow-icon first">add_circle_outline</i>
                <i class="material-icons trend-follow-icon second">remove_circle_outline</i>
                <p class="trend-details"><%= trend.pushpoints + trend.followers.to_i %> Followers <i class="material-icons trend-f" title="Followed trend">check_circle</i></p>
                <!--
                <p class="trend-details first"><%= Post.where(trendid: trend.id).size %> Posts</p>
                <p class="trend-details second">.</p>
                <p class="trend-details"><%= trend.followers.to_i %> Followers</p>


                <div id="trend-scroll-wrapper">
                <div id="trend-scroll">
                  <% Post.where(trendid: trend.id).limit(4).each do |post| %>
                <% if !post.imageaddress.blank? %><img src="<%= post.image2.url(:medium) %>" class="post-trend-2" alt="<%= post.title %>"><% end %>
                <% if post.image.present? %><img src="<%= post.image.url(:medium) %>" class="post-trend-2" alt="<%= post.title %>"><% end %>
                <% if !post.giphyid.blank? %><img class="post-trend-2" src="https://media2.giphy.com/media/<%= post.giphyid %>/giphy.gif"><% end %>

              <% end %>
              <a href="trends/<%# trend.name %>" target="_blank" class="not-link">
              <i class="material-icons trend-arrow">navigate_next</i>
              </a>

              <div class="trend-overlay"></div>

              </div>
              </div>

              <span class="follow-trend">Follow</span><span class="followed-trend" >Followed</span>
              <a href"/make?trend=<%= trend.name %>" target="_blank" class="not-link"><i class="meme-trend material-icons">add</i></a>

              <a href="trends/<%= trend.name %>" target="_blank" class="not-link">
                <div class="new-tab-trend">
                <i class="material-icons">open_in_new</i>
                Open
              </div>
              </a>
-->
              </div>
        <% end %>
    </div>
    <% else %>
    <div class="sign-to-trend">Sign in to view followed trends</div>
    <% end %>

    <div class="new-more-trends">show more trends</div>

    <% if user_signed_in? %>
    <a href="/trends" target="_blank" class="not-link"><div class="follow-more-trends">Follow more trends<i class="material-icons">keyboard_arrow_right</i></div></a>
    <% else %>
    <a href="/trends" target="_blank" class="not-link"><div class="follow-more-trends">More trends<i class="material-icons">keyboard_arrow_right</i></div></a>
    <% end %>

    </div>






    <% end %>