<% if user_signed_in? %>
<div id="box-5-wrapper">
    <%= will_paginate @newposts %>
    <div id="go-back-wrapper">
        <i class="material-icons" id="go-back">keyboard_arrow_left</i>
    </div>

        <p id="new-posts"><i class="material-icons">access_time</i>New Posts<span>click to slide page</span></p>
        <div class="reco-trend">
            <% @newposts.each do |post| %>
                <div class="wrapper-new-2 <%= if post.user == current_user then "mine" end %>">

                    <p class="post-new-p <%= if post.title.blank? then "empty" end %>"><!--<a  target="_blank" href="user/<%= post.user.username %>"><span class="post-new-username">@<%= post.user.username %></span></a>--> <%= post.title unless post.title.nil? %></p>
                    <% if !post.imageaddress.blank? %><img data-original="<%= post.image2.url(:medium) %>" class="post-image-new" alt="<%= post.title %>"><% end %>
                    <% if post.image.present? %><img data-original="<%= post.image.url(:medium) %>" class="post-image-new" alt="<%= post.title %>"><% end %>
                    <% if !post.giphyid.blank? %><img class="post-image-new" data-original="https://media2.giphy.com/media/<%= post.giphyid %>/giphy.gif"><% end %>


                    <% if user_signed_in? %>
                            <span class="post-votes-word real" data-points="<%= post.get_upvotes.size - post.get_downvotes.size - if current_user.voted_up_on? post then 1 elsif current_user.voted_down_on? post then -1 else 0 end %>" data-user-votes="<%= if current_user.voted_up_on? post then 1 elsif current_user.voted_down_on? post then -1 else 0 end %>"><%=  post.get_upvotes.size - post.get_downvotes.size %></span>
                        <% else %>
                            <span class="post-votes-word real" data-points="<%= post.get_upvotes.size - post.get_downvotes.size %>" data-user-votes="0"><%=  post.get_upvotes.size - post.get_downvotes.size %></span>
                        <% end %>
                        <a  target="_blank" href="user/<%= post.user.username %>"><span class="post-new-username">@<%= post.user.username %></span></a>
                        <!--
                    <a  target="_blank" href="trends/<%= Trend.find(post.trendid).name %>"><p class="post-new-trend">/<%= Trend.find(post.trendid).name %><i class="material-icons">keyboard_arrow_right</i></p></a>
                    -->
                                            <% if (user_signed_in?) && (current_user.voted_down_on? post) %>
                            <%= link_to dislike_post_path(post), method: :put, class: 'down downvote vote downvoted voted', :"data-post-id" => post.id, remote: true  do %><i class="material-icons">arrow_drop_up</i><% end %>
                        <% elsif (user_signed_in?) && !(current_user.voted_down_on? post) && !(current_user.voted_up_on? post)  %>
                            <%= link_to dislike_post_path(post), method: :put, class: 'down downvote downvote vote', :"data-post-id" => post.id, remote: true  do %><i class="material-icons">arrow_drop_up</i><% end %>
                            <!--<i class="material-icons downvote new">keyboard_arrow_up</i>-->
                        <% elsif (user_signed_in?) && !(current_user.voted_down_on? post) && (current_user.voted_up_on? post) %>
                            <%= link_to dislike_post_path(post), method: :put, class: 'down downvote downvote vote not-voted', :"data-post-id" => post.id, remote: true  do %><i class="material-icons">arrow_drop_up</i><% end %>
                        <% else %>
                            <span class="down downvote vote"><i class="material-icons">arrow_drop_up</i></span>
                        <% end %>

                        <% if (user_signed_in?) && (current_user.voted_up_on? post) %>
                            <%= link_to like_post_path(post), method: :put, class: 'up upvote vote voted', :"data-post-id" => post.id, remote: true  do %><i class="material-icons">arrow_drop_up</i><% end %>
                        <% elsif (user_signed_in?) && !(current_user.voted_up_on? post) && !(current_user.voted_down_on? post)  %>
                        <!--<i class="material-icons new upvote">keyboard_arrow_up</i>-->
                            <%= link_to like_post_path(post), method: :put, class: 'up upvote vote upvote', :"data-post-id" => post.id, remote: true  do %><i class="material-icons">arrow_drop_up</i><% end %>
                        <% elsif (user_signed_in?) && !(current_user.voted_up_on? post) && (current_user.voted_down_on? post) %>
                            <%= link_to like_post_path(post), method: :put, class: 'up upvote vote upvote not-voted', :"data-post-id" => post.id, remote: true  do %><i class="material-icons">arrow_drop_up</i><% end %>
                        <% else %>
                            <span class="up upvote vote"><i class="material-icons">arrow_drop_up</i></span>
                        <% end %>
                </div>
            <% end %>







        </div>
    </div>

    <div id="box-6-wrapper">
        <div id="search-trends"><i class="material-icons">search</i><textarea data-search placeholder="Search trends"></textarea></div>
        <%= form_tag url_for(:controller => 'pages', :action => 'renderTrends'), :method => 'get', class: "hidden-imp", remote: true do %>
      <%= text_field_tag 'name', '' %>
      <%= submit_tag "Save", id: "renderTrends-submit" %>
    <% end %>
    </div>

    <div id="box-3-wrapper">
            <p ID="who-to-follow"><i class="material-icons">person_outline</i>Who to follow</p>
            <% @randomUsers.each do |user| %>
                <div class="box-profile-wrapper">
                    <a href="/user/<%= user.username %>">
                        <!--
                        <% if user.cover.url == "missing-2.jpg" %>
                            <div class="box-profile-cover" style="background-image: url(/assets/missing-2.jpg)"></div>
                          <% else %>
                              <div class="box-profile-cover" style="background-image: url(<%= user.cover.url(:medium) %>)"></div>
                          <% end %>
                        -->
                        <% if user.image.url == "missing.jpg" %>
                            <div class="box-profile-image" style="background-image: url(/assets/missing.jpg)"></div>
                          <% else %>
                              <div class="box-profile-image" style="background-image: url(<%= user.image.url(:tiny) %>)"></div>
                          <% end %>
                      </a>
                      <div class="box-profile-right">
                          <div class="box-profile-title">@<%= user.username %></div>
                <div class="box-profile-detail"><%= user.posts.count %> Posts</div>
                      </div>

                <% if user_signed_in? %>

                    <%= form_for(current_user.active_relationships.build, remote: true) do |f| %>
                        <div><%= hidden_field_tag :followed_id, user.id %></div>
                        <% if current_user.following?(user) %>
                            <%= f.submit "following", class: "post-user-unfollow" %>
                        <% else %>
                            <%= f.submit "follow", class: "post-user-follow" %>
                        <% end %>

                    <% end %>
                </div>


                <% end %>
            <% end %>
            <p>Make something</p>
            <a href="/make">
                <div id="go-create"><i class="material-icons">add</i><span>Create</span></div>
            </a>

    </div>

    <div id="box-4-wrapper" class="opacity">
        <p>New Posts
        <a href="/new">
<span style="
            font-size: 14px;
            color: #404040;
            margin: 15px;
        ">more</span>
        </a>

        </p>
        <div id="box-4-wrapper-inside">
            <% Post.limit(10).each do |post| %>
            <div class="wrapper-new">
                 <% if !post.imageaddress.blank? %><img data-original="<%= post.image2.url(:thumb) %>" class="post-image-new" alt="<%= post.title %>"><% end %>
                <% if post.image.present? %><img data-original="<%= post.image.url(:thumb) %>" class="post-image-new" alt="<%= post.title %>"><% end %>
                <% if !post.giphyid.blank? %><img class="post-image-new" data-original="https://media2.giphy.com/media/<%= post.giphyid %>/giphy.gif"><% end %>
            </div>
        <% end %>
        </div>

    </div>



    <% end %>