<!DOCTYPE html>
<html>
<head>
  <% if controller.action_name == 'make' %>
    <title>Drolle | Make memes and rage comics</title>
    <meta name='description' content='Make memes and rage comics easily using drolle!' />
    <meta name='keywords' content='make,memes, rage, comics' />
  <% elsif controller.action_name == 'index' && controller == 'pages' %>
    <meta name='description' content='Drolle - Meme and rage comics internet community. All the internet goodness starts here. Join the community!' />
    <meta name='keywords' content='drolle,memes, rage, comics, community' />
  <% elsif controller.action_name == 'show' && controller == 'posts' %>
    <meta name='description' content='<%= @post.title %>' />
    <meta name='keywords' content='drolle, <%= @post.taglist %>' />
  <% elsif controller.action_name == 'tag' && controller == 'tags' %>
    <meta name='description' content='<%= @tag %>' />
    <meta name='keywords' content='drolle, <%= @tag%>' />
  <%else%>
    <title>Drolle | Memes, GIFs and rage comics</title>
    <meta name='description' content='Drolle - Meme and rage comics internet community. All the internet goodness starts here. Join the community!' />
    <meta name='keywords' content='drolle,memes, rage, comics, community' />
  <%end%>
  
    
    <%= favicon_link_tag 'favicon.png' %>
  
  
  
   <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <% if controller.action_name  == 'show' && controller == 'posts' %>
    <meta property="og:title" content="<%= @post.title %>" />
    <meta property="og:type" content="article" />
    <meta property='og:image:width' content="600" />
    <meta property='og:image:height' content="315" />
    <meta property="og:image" content="<%= @post.image.url(:large)%>" />
    <meta property="og:url" content="http://beta.drolle.co<%= url_for(@post) %>" />
    <meta property="og:description" content="by <%= if @post.anonymous != true then @post.user.username else 'anonymous' end %> | drolle" />
    
    <meta name="twitter:card" content="photo" />
    <meta name="twitter:site" content="drolle" />
    <meta name="twitter:title" content="<%= if !@post.title.blank? then @post.title else @post.user end %>" />
    <meta name="twitter:image" content="<%= @post.image.url(:large)%>" />
    <meta name="twitter:url" content="http://beta.drolle.co<%= url_for(@post) %>">
  <% end %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
</head>
<body>
<%= render '/layouts/nav' %>

<%= yield %>
    
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans|Roboto:300,400|Schoolbell" rel="stylesheet">
    <script src="https://use.fontawesome.com/cc1141eab9.js"></script>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-71706180-3', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
